[2016-07-21 10:14] segura2010 opened #1 "Import doesnt work"
/pokemon-go-api/example/example.js:1
(function (exports, require, module, __filename, __dirname) { import PokeAPI from '../src'
                                                              ^^^^^^
SyntaxError: Unexpected token import
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:513:28)
    at Object.Module._extensions..js (module.js:550:10)
    at Module.l

[2016-07-21 10:15] segura2010 opened #2 "npm package not found"
npm i -S pokemongo-api-js

returns: 'pokemongo-api-js' is not in the npm registry.

:(

[2016-07-21 10:22] stoffern commented on #2
work in progress..

[2016-07-21 10:23] stoffern commented on #1
it is ES6.. you need to run it with babel..

[2016-07-21 10:23] #1 closed

[2016-07-21 10:24] #2 closed

[2016-07-21 11:28] jimmywarting opened #3 "Error: No endPoint set!"
guess endpoint is never set?

[2016-07-21 11:30] stoffern commented on #3
it does here:
https://github.com/stoffern/pokemon-go-api/blob/81d08e27165f3ee33d21307f6afac365b897a320/src/API.js#L16
then it changes endpoint for every query

[2016-07-21 11:34] jimmywarting commented on #3
then shouldn't `this.endpoint` be `this.endPoint`?

https://github.com/stoffern/pokemon-go-api/blob/81d08e27165f3ee33d21307f6afac365b897a320/src/API.js#L24

[2016-07-21 11:41] stoffern commented on #3
@jimmywarting yeah, thats correct, fixing it now

[2016-07-21 11:42] jimmywarting commented on #3
thanks

[2016-07-21 11:43] stoffern commented on #3
@jimmywarting please note that `.Call()` function is not finished yet. the headers is not correct setup yet

[2016-07-21 11:46] jimmywarting opened #4 "tab & tab size 4?"
are you using 2 spaces because the previous repo used spaces and only used tab size == 2?

My preference is to use 1 tab and have tab size = 4

And i guess many other feel the same way about the tab size should equal to 4?
tab vs spaces is a other discussion that can be hard to debate - which only comes down to the owners choice

Right now there is a mix of spaces and tabs, a bit anoying

[2016-07-21 11:49] jimmywarting commented on #3
Ah, then I went ahead of my self and played with it to much 😄

[2016-07-21 11:50] stoffern commented on #3
np :smiley:

[2016-07-21 11:54] stoffern commented on #4
spaces over tabs.. when you copy, pase, move around code ... tabs are different viewd on github, bitbucket and so on.

spaces are consistant.
editors lets you coose 2, 4, 10 spaces for each indent.. thats up to you to set in your editor.

[2016-07-21 11:54] #4 closed

[2016-07-21 11:58] jimmywarting commented on #4
in isaacs/github#170 they say you can put a .editorconfig file in your repo to say how github should render the view

[2016-07-21 12:00] stoffern commented on #4
@jimmywarting thats for GitHub what about source-code posting on other websites?
i went from tabs to spaces, and are not going back! :smile:

end of discussion

[2016-07-21 12:02] stoffern commented on #4
@jimmywarting just change your indention in you editor to spaces and the distance you use.

problem solved :smile:

[2016-07-21 12:10] jimmywarting commented on #4
sure space it is. but how many space do you want? 2, 4?

[2016-07-21 12:13] stoffern commented on #4
Using 2 as it is has become Facebook and nodesjs`s standards

[2016-07-21 12:26] stoffern commented on #3
fixed

[2016-07-21 12:26] #3 closed

[2016-07-21 20:58] stoffern opened #7 "Get endPoint first :)"
update comming tomorrow..

[2016-07-22 00:22] jimmywarting opened #8 "Change reject to throw?"
When you reject stuff without returning the code will run the rest of the code... so i think `throw` is a better option

a instance of Error is also better because you get a better stack trace.

[2016-07-22 05:20] stoffern commented on #8
@jimmywarting agree :+1:

[2016-07-22 12:58] stoffern opened #9 "Add param check for every function"
wanna look at it for me ? :)
eks: https://github.com/stoffern/pokemon-go-api/blob/master/src/index.js#L91

We should also split up the functions into files.
There are alot of Fort functions, we just need to pass the api to the class so we can call the request from there.

any good ideas?

[2016-07-22 13:07] #7 closed

[2016-07-22 13:07] #8 closed

[2016-07-22 13:16] stoffern opened #10 "Move readme to Wiki.."
There is alot of functions to cover...

Documentation for:

- [ ] Installation
- [ ] Example usage
- [ ] Functions

[2016-07-22 23:06] jimmywarting opened #14 "Switch request to node-fetch"
Todo:
- [x] Switch over to fetch
- [ ] Save cookies to file

[2016-07-23 05:39] stoffern commented on #14
Todo:
- [ ] Switch over to fetch
- [ ] Save cookies to file

[2016-07-23 07:41] stoffern opened #15 "Create & Test functions"
- [x] Auth Google
- [x] Auth PTC
- [x] GetPlayer
- [x] GetInventory
- [x] GetMapObjects
- [x] CatchPokemon
- [x] EncounterPokemon
- [x] ReleasePokemon
- [x] UseItemPotion
- [x] FortSearch
- [x] FortDetails
- [x] FortDeployPokemon
- [x] FortRecallPokemon

[2016-07-23 07:42] #9 closed

[2016-07-23 09:45] jimmywarting opened #16 "change s2?"
Pokemon-GO-node-api used a es6 [ported version](https://github.com/billyriantono/simple-s2-node) of s2 before but decided to change that once the were going back to es5

So now  they used [s2geometry-node](https://github.com/billyriantono/s2geometry-node) which is a C binding version.

It's not pure js and requires building.
It has it pro&con maybe faster more robust? but the negative part is that

[2016-07-23 09:59] stoffern commented on #16
@jimmywarting I have looked into S2 and how it works.
It is quite big and has alot of functions that will take alot of time to port.
the c++ version is also faster.

Since it compiles fine for both windows, linux and mac now, i think we should keep using s2geometry-node

[2016-07-23 09:59] #16 closed

[2016-07-23 11:06] jimmywarting commented on #16
Okey!

[2016-07-23 11:41] jimmywarting commented on #15
I'm using google auth, and it works fine

[2016-07-23 12:15] stoffern commented on #15
check..
I would do recomend that you dont use your profile before the bot is complete :smile:

[2016-07-23 13:51] stoffern opened #18 "the catching process?"
how does this work, and in what order?

[2016-07-23 15:00] jimmywarting commented on #18
First encount then catch?
https://github.com/Armax/Pokemon-GO-node-api/blob/master/example.js

[2016-07-23 15:13] stoffern commented on #18
:+1: actually i dont know how smart it is to add the "bot-script" to the project..

[2016-07-23 19:26] gallexme opened #19 "Better Explain the usage of it as Lib"
#How do i Use it as a lib?
cloning it + npm install modyfing robot.js works fine

As Lib:
npm i -S github:stoffern/pokemon-go-api
creating .babelrc file with
`"presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["babel-project-relative-import", {
      "sourceDir": "src/"
    }]
  ],`
creating a main.js:

`import PokeAPI from 'pokemongo-api-js';`
telling it to run with
"main": "babel-

[2016-07-23 19:40] stoffern commented on #19
@gallexme Yeah, the documentation is lacking.. will look at this tomorrow and monday..
meanwhile:

[code]

[2016-07-23 19:41] gallexme commented on #19
yeah thats what i got working already
but because i dont want to revert all my changes for each pull (or commiting my own/stashing them)
there has to be a way to use it as library

[2016-07-23 20:35] jimmywarting opened #20 "Problem with getInventory?"

[2016-07-23 21:11] #18 closed

[2016-07-23 21:12] stoffern commented on #19
@gallexme
Yeah i completely understand..
let me fix it in about 7 hour :smile:

[2016-07-23 21:38] jimmywarting opened #21 ""walking""
Just want to let you know that i have tried this:

[code]

And it seems like i have walked 0.8 km while having this run for a while

[2016-07-23 21:53] gallexme commented on #21
just a notice, you may should change 10000 to random value as im not sure how often the app sends the position and such
and it would look more "natural"

[2016-07-23 21:54] jimmywarting commented on #21
You are right

[2016-07-23 22:31] andnp commented on #20
Yup, I see it too.
I'm getting a ```[!] Response error!```

[2016-07-24 01:25] andnp opened #22 "EncounterPokemon response error"
We get a ```[!] response error``` when trying to encounter a pokemon.

[2016-07-24 05:03] stoffern commented on #21
If you start the app and see the sphere around your player. this is the "hartbeat". it triggers GetMapObjects every 3 second.. so this should be set to that..

we should have a async function in the app running hartbeat..
Poke.player.activateHartBeat()

[2016-07-24 08:39] jimmywarting commented on #21
I read somewhere that you should not go faster then 30 km/h

[2016-07-24 09:16] stoffern commented on #19
@gallexme published to npm...
`npm i -S pokemongo-api`

[2016-07-24 09:16] #19 closed

[2016-07-24 09:20] stoffern commented on #21
okey.. i will slow it down a bit..

[2016-07-24 15:13] gallexme commented on #19
working nicely thank you

[2016-07-24 15:16] gallexme commented on #22
Same problem Stacktrace(if it might help):

code to reproduce:
`for (var pokemon of cell.catchable_pokemons) {
                try {
                    let encounterResult = await Poke.EncounterPokemon(pokemon);
                    let catchPokemonResult = await Poke.CatchPokemon(pokemon);
                    console.log({
                        encounterResult: encounterResult,

[2016-07-24 15:23] stoffern commented on #22
tnx looking into it..

[2016-07-24 15:46] stoffern commented on #22
@gallexme @andnp should be fixed now..
Please update ticket if it works.

[2016-07-24 15:59] gallexme commented on #22
[i] Received OK: EncounterResponse

[2016-07-24 16:15] stoffern commented on #22
@gallexme i just fixed it.. try updating again :)

[2016-07-24 16:18] gallexme commented on #22
@stoffern  u missed tagging it as 0.1.7, i guess npm wont update it without it if im fixed to 0.1.7
but

[2016-07-24 16:28] stoffern commented on #22
oh i can see now that it captures the pokemon.. but it says response error..

[2016-07-24 16:34] #22 closed

[2016-07-24 16:36] stoffern commented on #21
Can anyone measure how fast it is moving? :smile:

[2016-07-24 16:37] stoffern opened #23 "CatchPokemon is working but returns error.."

[2016-07-24 16:41] stoffern opened #24 "Todolist"
- [x] walk to point (human moving)
- [x] teleport to point
- [ ] while moving check if it is water.. (we are not jesus)
- [x] hartbeat every 3 seconds async loop - bind new data to .player....

[2016-07-24 18:00] jimmywarting commented on #24
Someone put his phone on a drone and flew around with it. So for him water dosen't mather.

[2016-07-24 18:07] gallexme commented on #24
im currently working on something like
 walk to point

[2016-07-24 18:17] stoffern commented on #24
:+1:  i dont have the time to code today..
possible tomorrow :smile:

a little help on the way is:
[code]

[2016-07-24 18:26] stoffern opened #25 "Change throw error to warn"
Change throw error to warn.
Can be server error, and we can continue

[2016-07-24 18:33] gallexme commented on #24
my current code:
https://gist.github.com/gallexme/43512b54fa6b4dfdd10236d25899585d

[2016-07-24 18:49] stoffern commented on #24
oh, that looks to complexe :smile:

when i have the time i will create a async hartbeat that takes GetMapObjectResponse every 3 second..
this will be put into Poke.player.surroundings
then a CatchPokemonIfAround, and walk to nearest checkpoint for fort :smiley:

[2016-07-24 19:36] gallexme commented on #21
if my maths are correct : about 0.0008648601152618156 M each hartbeat

[2016-07-24 19:39] gallexme commented on #23
not always returning error:
[i] Received OK: EncounterResponse
[i] Received OK: CatchPokemonResponse
{ encounterResult: { EncounterResponse: { wild_pokemon: [Object], background: 0, status: 1 } },
  catchPokemonResult: { CatchPokemonResponse: { status: 3, miss_percent: 0, capture_award: null } } }

[2016-07-24 21:08] maxnowack commented on #22
@stoffern do you already have an idea how to fix the response error on `CatchPokemon`? anything I can help? :)

[2016-07-24 21:12] gallexme commented on #22
@maxnowack  check #23

[2016-07-25 01:39] jimmywarting commented on #21
Should calculate how fast can we loop to get ~ 30 km/h

[2016-07-25 01:48] jimmywarting commented on #25
What?

[2016-07-25 01:55] jimmywarting commented on #24
We also don't have to stand tight on the destination, you can stand a few meters from it...

[2016-07-25 05:53] stoffern commented on #21
30km/h with hartbeat/walk every 3 second gives a max of 25 meters pr hartbeat.
Lets just set it to random 1,5-15meters

[2016-07-25 06:13] #21 closed

[2016-07-25 06:15] stoffern commented on #14
Do we need to save the cookies? actually?

[2016-07-25 06:36] stoffern commented on #23
Thisone is quite wierd.
Could it be any banned pokemons that your are not supposed to catch?

@maxnowack the best thing to do is to debug the response before it is sendt to the decoder.
https://github.com/stoffern/pokemongo-api/blob/master/src/API.js#L32

[2016-07-25 07:48] stoffern opened #26 "Passing data to pokemon class"
@jimmywarting how would we solve this:
we need to access, api, player from the Pokemon class.

should we just pass it down?

[2016-07-25 08:35] gallexme commented on #26
cant be to bad
as a pokemon always belongs to 1 player
one small concern though, gyms pokemons they shouldnt try to access player/api

[2016-07-25 08:43] jimmywarting commented on #26
If so can we pass it down only once? Kind och like

 Pokemon = require("Pokemon")(player)

[2016-07-25 08:44] gallexme commented on #25
he probably means
that someone should change  such throw new Error('You should add a location name')
to warnings at places where its not to critical?

[2016-07-25 08:45] stoffern commented on #26
@jimmywarting there is alot of commits from me now..
check here i just passed it like this, but is it bad practice?
https://github.com/stoffern/pokemongo-api/blob/master/src/Pokemon.js#L14

We need to pass it every time we create a Pokemon..
- player coordinates change, and we need to update them
- api endpoint can also change..

[2016-07-25 08:47] gallexme commented on #26
arent those in a  class instance?
which means u only hold a reference to the class? so all coordinates are updated always?

[2016-07-25 08:48] maxnowack commented on #23
I've played a bit around with CatchPokemon. It seems, that a pokemon got caught if the response return an error. If no error occurs, the throw was not successful

[2016-07-25 08:49] jimmywarting commented on #26
What gallexme Said... But it also need API call.

But it is maybe bettet just to pass down Poke Class where we have access to everything?

[2016-07-25 08:58] stoffern commented on #23
@maxnowack what version are you using?

[2016-07-25 09:00] stoffern commented on #26
Pokemon and Fort class needs to access player coords, and the api.
the api class saves the auth_data so we cannot create a new class.

I think we need to pass down the Poke class so we can access all data in the store..

@jimmywarting do you have any better solutions? :smile:

[2016-07-25 09:01] jimmywarting commented on #26
Hmm my idea is not so Good if you use this api and play as two player...

[2016-07-25 09:07] jimmywarting commented on #25
Ok

[2016-07-25 09:08] stoffern commented on #26
yeah, i am blind :smile:
well that is what i am doing now.. its passed into a prop called: this.parent.

should be ok..

[2016-07-25 09:11] maxnowack commented on #23
0.1.7

[2016-07-25 09:12] jimmywarting commented on #26
I think it's okey

[2016-07-25 09:13] #26 closed

[2016-07-25 09:15] stoffern commented on #23
try updating

[2016-07-25 10:17] InsOpDe opened #27 "Farm Pokestops"
I can't find any code to actually "farm a Pokestop" as it is written in the TODO list

`[X] Farm specific area for pokestops`

I only see that it is checked whether a fort is a pokestop or a gym. Do I miss something?
I often have problems with the function-names as they dont provide enough information for me to know what they actually ment to do. (f.e.: `useGym`)

[2016-07-25 10:31] gallexme commented on #27
it is entirely possible to farm pokestops with the current code,
just get the fort details, check if its a pokestop then walkto it
after that search it
useGym
uses a item(Item.js) on a specific gym

[2016-07-25 10:38] stoffern commented on #27
as @gallexme said.

I will provide some easier code in a few hours..
it will be like:
[code]

[2016-07-25 10:52] jimmywarting opened #28 "Remove setting location by name?"
I just think it's damm annoying to set/get location by name. For a bot and coding point of view it's just easier with lat/long

I think i want something like this
[code]

And then i want to remove `setLocation` & `teleport`

And altitude should always be 0

If you ever want to set location by name then use GeoCoder to figure out the x/y coordinates

`let {latitude, longitude} = await GeoCoder.geoc

[2016-07-25 10:55] gallexme commented on #28
maybe just add a method to setLocationByName(name)
and  use a location setter for long/lat

[2016-07-25 10:57] gallexme commented on #14
i think access to serialize/deserialize would be good enough
so that i "could" move a user from one node process to another without login in again

[2016-07-25 11:00] stoffern commented on #28
@jimmywarting you can set location by name or location.. your choise:
[code]
or
[code]

[2016-07-25 11:06] gallexme opened #29 "After a While Response Error"
Not sure if its because of my code but i get this from time to time:

i think it happens at  let player = await Poke.GetPlayer();
gonna try to find the cause

[2016-07-25 11:13] stoffern commented on #29
Yeah, i get the same terror. I think it may be a server overload problem.
This needs futher investigation.

[2016-07-25 11:19] jimmywarting commented on #28
honestly i want to remove `setLocation`all together

[2016-07-25 11:24] stoffern commented on #28
yeah, that is acutally a good point :)
lets remove 'named locations'

@jimmywarting wanna create a PR?

[2016-07-25 11:26] jimmywarting opened #30 "Split forts to pokestop and gym"
I was just thinking that this don't have so much in common and they require different method later

[code]

So i want to remove Fort class and create a Gym class and a Checkpoint ("Pokestop") class

What do you think?

[2016-07-25 11:34] stoffern commented on #30
Yeah, sounds good.
Just so you know, in the communication part checkpoint and gym is both placed in the fort

I have not played Pokemon Go IRL yet, that is why i dont have all knowledge :smile:

[2016-07-25 11:55] #30 closed

[2016-07-25 11:57] jimmywarting commented on #28
Sure

[2016-07-25 11:58] #27 closed

[2016-07-25 12:41] jimmywarting commented on #14
It isn't really a cookie?
it's just a authentication token that get baked into the post request...?

[2016-07-25 12:57] #28 closed

[2016-07-25 14:03] stoffern opened #32 ".."
- [ ] Async loop - Hartbeat (GetPlayer and update Poke.player every 3 second async)
- [ ] Async loop - Check Poke.player.surroundings (catch if pokemons)
- [ ] Async loop - Go to nearest fort (Poke.player.walkTo, after x seconds change fort)

[2016-07-25 15:21] gallexme commented on #32
anyone knows if pokemon servers may react allergic to multiple same async requests?

[2016-07-25 15:28] gallexme commented on #21
walkToPoint is not really walking is it?
its just looping indefinitly fast and setting the location closer and closer to the destination?
also its not updating the server is it?
maybe we should add a sleep?

[2016-07-25 15:36] stoffern opened #33 "Poke.player.walkToPoint not working"
needs a fix

[2016-07-25 15:37] stoffern commented on #21
Made a new issue on thisone: https://github.com/stoffern/pokemongo-api/issues/33

[2016-07-25 15:39] stoffern commented on #32
It will not be a problem.
This is how the app works.
it sends hartbeat every 3 second when in map screen.
we just deactivate hartbeat temp when encounting

[2016-07-25 16:31] #32 closed

[2016-07-25 16:43] stoffern commented on #14
Lets skip cookies :)

[2016-07-25 16:43] #14 closed

[2016-07-25 16:47] stoffern commented on #23
@maxnowack did it work after update?

[2016-07-25 16:54] InsOpDe commented on #20
Yes I get it, too - the error is
`[Error: Illegal wire type for field Message.Field .POGOProtos.Data.PokemonData.additional_cp_multiplier: 5 (0 expected)]`

[2016-07-25 17:06] stoffern opened #35 "Banned pokemons?"
Are there any banned pokemons?

[2016-07-25 17:07] stoffern commented on #25
lets leave thisone for now :)

[2016-07-25 17:07] #25 closed

[2016-07-25 17:09] rohanp opened #36 "fort.search() raises TypeError in example.js"
[code]

[2016-07-25 17:16] stoffern commented on #36
@rohanp try updating to last commit and try again..
npm i -S github:stoffern/pokemongo-api

[2016-07-25 17:26] stoffern commented on #20
fixed and working : https://github.com/stoffern/pokemongo-api/commit/12c8c94aa86d75d247d8b8682355c1e7790c6b78

[2016-07-25 17:26] #20 closed

[2016-07-25 17:28] maxnowack commented on #23
No, I'm still getting an error ...

[2016-07-25 17:37] InsOpDe commented on #20
still getting the same error

[2016-07-25 17:41] stoffern commented on #20
@InsOpDe did you use the npm package?
it was not updated.. try to update now
`npm i -S pokemongo@0.1.9`

[2016-07-25 17:42] #36 closed

[2016-07-25 17:44] stoffern commented on #36
@rohanp it is also published in npm now v0.1.9

[2016-07-25 17:48] Harrisandwich opened #37 "Getting error running example"
This is my current error running the example. Keep in mind, this may be due to my own lack of JS/Node know-how.

/Users/joshzoff/PokemonGoDirections/routeFinder.js:16
async function init(Poke) {
      ^^^^^^^^

SyntaxError: Unexpected token function
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:387:25)
    at Object.Module._extensions..js (module.js:422:10)
    at

[2016-07-25 17:48] gallexme commented on #37
for async/await u need to use bable as it is es7 which nodejs doesnt support by default

[2016-07-25 17:54] gallexme commented on #37
https://github.com/gallexme/pokemongo-api-example-project

clone it then
npm install
to run
npm run main

[2016-07-25 17:55] stoffern commented on #37
@gallexme i think he wants a es5 example :smile:

[2016-07-25 17:58] stoffern opened #38 "Fort : check for type before execute function."
Add checks in functions.
example: `fort.search()` //have to be a checkpoint

[2016-07-25 17:59] gallexme commented on #37
@stoffern  Dont see any reason why or where? :dancer:

[2016-07-25 18:00] Harrisandwich commented on #37
@stoffern @gallexme hahah that would be great. I have never used ES6 and would like to make something that could be used on most web browsers. There are personal reasons for what I'm trying to accomplish, but I think other people would like to use it as well, so I would like to be able to host it.

[2016-07-25 18:04] stoffern commented on #37
@Harrisandwich then listen up. ES6 and 7 is the future..
Babel compiles the script after you are finished and makes it all run in all browsers even the oldest ones..

download @gallexme example..
after you are finished your script and want to compile:
type: `babel --presets es2015,stage-0 -d compiled.js es6file.js`

then it works for all browsers that exsist

[2016-07-25 18:05] Harrisandwich commented on #37
@stoffern That's pretty neat! Fair enough! I appreciate the help

[2016-07-25 18:17] stoffern commented on #37
closing thisone..

[2016-07-25 18:17] #37 closed

[2016-07-25 18:33] jimmywarting commented on #35
I think so... not sure

Read that in some countries curtain pokemon looks like a bad symbol for something

[2016-07-25 18:34] jimmywarting commented on #38
What dose search do?

Can we just move the search method to the checkpoint class instead of having it in the Fort class?

[2016-07-25 18:42] gallexme commented on #38
search spins the pokestop(u get the items)
also u may should add a check for the cooldown

[2016-07-25 19:01] #38 closed

[2016-07-25 19:04] jimmywarting commented on #38
There is nothing stoping us to click it even if it's to far away

I have added a method to get the distance to the fort
`console.log(fort.distance)`

Maybe should do something like:

if fort.distance < 10 && cooldown
then search()

[2016-07-25 19:14] stoffern commented on #38
i think we should add a cooldown timestamp the fort class when search is activated.
let me create a new issue on this.
fort.cooldownTimer

[2016-07-25 19:15] stoffern opened #43 "Add cooldown timer to checkpoints"
when search() is activated we should add a timestamp and a function to check last time.
I think the cooldown is 5 minutes.

[2016-07-25 19:17] jimmywarting commented on #43
I can confirm that it's 5 minutes
Took time once before

[2016-07-25 19:22] jimmywarting commented on #43
Is it possible to convert a int64 long to a date object?

[2016-07-25 19:23] gallexme commented on #43
the time is unix time

[2016-07-25 19:25] jimmywarting commented on #43
Anyone know how big the circle around you are?
I mean: How far away can you stand from the checkpoint in order to take it?

Don't want to call search() on forts that are to far away...

[2016-07-25 19:26] stoffern commented on #33
problem solved: https://github.com/stoffern/pokemongo-api/commit/8c111d2c6011db8b2df9757e72ca4fd8a15e4e86

[2016-07-25 19:26] #33 closed

[2016-07-25 19:28] stoffern commented on #43
good question, i dont know..
move the bot 1 meter at the time and see the distance when it catches a pokemon..

[2016-07-25 19:29] gallexme commented on #43
try 25m but i think it was 40 or 30 m

[2016-07-25 19:34] stoffern opened #44 "Remove depricated"
remove depricated code

[2016-07-25 19:35] jimmywarting commented on #43
Should also add a check if the bag is full

[2016-07-25 19:44] gallexme commented on #43
then we don't have to call get inventory multiple times and it will become all synchronous

you got to check also pokeballs after catching, level ups, and more...
so maybe after all 5 min update it aswell?

[2016-07-25 19:52] stoffern commented on #43
I think we should create sync function like Poke.ToggleBackpackCleaner and so on..

[2016-07-25 19:54] jimmywarting commented on #43
Maybe will do something like that later

[2016-07-25 19:59] maxnowack opened #45 "robot.js"

[2016-07-25 20:00] #45 closed

[2016-07-25 20:01] maxnowack commented on #45
argh, that was not the search field ...

[2016-07-25 20:05] maxnowack opened #47 "Add babel-polyfill"
If I try to use this lib via npm, I'm getting the following error:
[code]

First I've thought, that it was my fault. But I've successfully tested babel transpilation with a simple `async / await`
Do you have any idea's why this error occurs?

[2016-07-25 20:10] gallexme commented on #47
compare your project to mine
https://github.com/gallexme/pokemongo-api-example-project

[2016-07-25 20:12] stoffern commented on #47
It is Babel polyfill.. You need it :)

[2016-07-25 20:30] maxnowack commented on #47
I'm writing ES6/ES7 with babel to use `async` and `await`

[2016-07-25 20:59] maxnowack commented on #47
@gallexme your script works for me. I've tried to copy over the dependencies and babel configuration to my project, but it doesn't work and I have no idea why. Now I'll take the other way: copy over my code to your project. That seems to work :D

[2016-07-25 21:04] jimmywarting commented on #23
I got the error from Rattata. And Rattata is **not** banned

[2016-07-25 21:07] jimmywarting commented on #23
the other api have something like
['Unexpected error', 'Successful catch', 'Catch Escape', 'Catch Flee', 'Missed Catch'];

[ref](https://github.com/Armax/Pokemon-GO-node-api/blob/master/example.js#L116)

if the result is missed, then we should try catching it again?

[2016-07-25 21:12] jimmywarting commented on #43
What is left to do now after #46 has been done?
We have a Date object of when we can use it again that is null otherwice

i found out that a distance of 39 meter worked just fine

`console.log(fort.cooldown)` Date or null

[2016-07-25 21:19] maxnowack opened #48 "Evolve Pokemon"
In the proto files I've seen that there is a `EvolvePokemon` method which takes the `pokemon_id` as the only parameter. That looks very easy. Does someone already have some logic, to check if a pokemon can be evolved and the player have enough candies?
Candies in the inventory look like this:
[code]

I think `family_id` is a the type of the candy and `candy` is the amount. It seems, that the `fami

[2016-07-25 21:21] jimmywarting commented on #37
Perhaps you can just use the api as is?
We compile it to es5 when building

So you could just be fine using the api as promis

The example is just how you would do it with es6/7

await can only await a promise so most api's are promises

[2016-07-25 21:28] gallexme commented on #48
family_id = https://github.com/stoffern/pokemongo-api/blob/b9b97e48385f935e58e347f3e3893dce67a44732/POGOProtos/Enums/PokemonFamilyId.proto

EvolvePokemon  is already in the Pokemon.js

[2016-07-25 21:34] jimmywarting commented on #21
its just looping indefinitly fast and setting the location closer and closer to the destination?
also its not updating the server is it?
maybe we should add a sleep?

@gallexme has a point. Nothing really happens (I think)
Maybe this should be incorporated into heartbeat?

instead of waiting till you reached the destination - set a desired destination that you want to walk to (like nearest pokesto

[2016-07-25 21:42] jimmywarting commented on #48
We also have the Pokemon class that can tell you if there is a next evolution

[code]
Comes from [pokedex.json](https://github.com/stoffern/pokemongo-api/blob/master/pokedex.json)

So we can do something like:
[code]

[2016-07-25 21:47] jimmywarting commented on #27
`withinRange` is a smart thing to have, I will add it ;)

[2016-07-25 21:48] gallexme opened #49 "[Question]Automatic Release Tagging?"
@stoffern
@jimmywarting
how About automaticly increment the version and tag it on git for each push/commit
as the npm version is often far away from the git version

examples: https://docs.npmjs.com/cli/version

[2016-07-25 21:57] jimmywarting commented on #49
I like github tags. But how do we get it to automatically publish on npm?

[2016-07-25 21:58] gallexme commented on #49
npm version command automaticly
Bumps the version in package.json (the patch part)
Creates a commit with specified message(GIT)
Tags that commit with the new version(GIT)

[2016-07-25 22:00] gallexme commented on #24
player.pokeStorage is not working because
 this.playerInfo.sessionData is never set
maybe add that to the list

[2016-07-25 23:30] InsOpDe commented on #47
i believe you need the npm module `babel-polyfill` - that worked for me

[2016-07-25 23:31] InsOpDe commented on #20
solved it. according to [https://github.com/Armax/Pokemon-GO-node-api/blob/master/pokemon.proto#L313](another hub) the field `additional_cp_multiplier` in `PokemonData.proto` has to be a float, not an int32.

[2016-07-25 23:57] jimmywarting commented on #20
Thanks, fixed

[2016-07-26 00:05] InsOpDe commented on #23
Im getting
`[Error: Illegal wire type for field Message.Field .POGOProtos.Data.Capture.CaptureAward.activity_type: 2 (0 expected)]`

[2016-07-26 00:14] InsOpDe opened #50 "sessionData / PokeStorage"
I cannot find the piece of code which stores the `sessionData` except for ` set profileDetails` but this doesnt get called anywhere. Neither can I find a call for getting all captured pokemons (except for `get pokeStorage()` of course which is dependant of ` set profileDetails`)
Am I missing something?

[2016-07-26 00:14] jimmywarting opened #51 "Nearby pokemon"
We don't have much to go on

[code]

If i find a uniq pokemon, then i want to chase it. But how?

[2016-07-26 00:27] jimmywarting opened #52 "Make cells private?"
looping over cells is not so nice

If i want to go to the nearest checkpoint then i need to make two loops (over cells and forts)

It would be nice to receive something like:

[code]

Where e.g: `objects.forts.checkpoints` is the result of the current and all neighbor cells. And all of them are sorted by distance

[2016-07-26 03:30] weiry6922 commented on #37
I'm having similar problems, never used babel, would like to learn to. Tried for a while using google etc but not sure how to use it with this project.

I've used npm install to get pokemongo-api, where would I go from here to get babel working?

I'm just a hobbyist so excuse any ignorance. Cheers.

[2016-07-26 03:47] dougiefresh49 commented on #49
I use this package called [semantic-release](https://github.com/semantic-release/semantic-release) (built by the crew at [egghead.io](egghead.io))

it will
- auto bump versions based on commit messages (using [commitizen](https://www.npmjs.com/package/commitizen) standards)
- create git tags based on new version
- create release notes on the github page
- publish to npm
- etc

all with one command

[2016-07-26 05:25] stoffern commented on #21
on the last update it should work fine.
Altho this is a loop that loops to the target on intervall and stops when it is complete.

I am thinking instead of doing:
[code]
I wanna add togglers like this:
ToggleHartBeat()
TogglePokemonCatching()
TogglePokestopSearch()
ToggleBackpackCleaner()
ToggleWalkToTarget()

all async functions.. and that is all you need.
Altho i think walkToPoint should be one

[2016-07-26 05:35] maxnowack commented on #48
Okay, If you think that this is something that should be in this library, I'll make a PR

[2016-07-26 05:35] maxnowack commented on #47
I've tried that - It doesn't work for me

[2016-07-26 05:39] stoffern commented on #47
@maxnowack do  you have the .babelrc file?
i will add babelpolyfill anyways..

[2016-07-26 05:49] stoffern commented on #49
@dougiefresh49 nice i will look into it.

[2016-07-26 05:53] stoffern commented on #37
@weiry6922
[code]
that should be all.

[2016-07-26 05:56] stoffern commented on #44
nice job :+1:

[2016-07-26 05:56] #44 closed

[2016-07-26 06:00] maxnowack commented on #47
Yes, I have a `.babelrc`

[2016-07-26 06:01] stoffern commented on #23
@jimmywarting you cant read the response.status before its decoded.
And the throw error is from having problem with decoding.
I am almost 100% shure that this is a server stability issue and not a problem with the code.

Should be log a warn on response error, and try sending a request again instead of throwing a error?

@InsOpDe can you share your code?

[2016-07-26 06:03] stoffern commented on #24
@gallexme this has nothing to do with the topic.
please create new issues if there are errors :)

[2016-07-26 06:03] stoffern opened #53 "pokeStorage"
player.pokeStorage is not working because
this.playerInfo.sessionData is never set

[2016-07-26 06:06] maxnowack opened #54 "Illegal wire type for field Message.Field .POGOProtos.Data.PokemonData.additional_cp_multiplier: 5 (0 expected)"
Today I'm getting a new Proto-Error:
[code]

Since it is a parsing error in PokemonData, it occurs everytime I get the inventory.
Any ideas?

[2016-07-26 06:12] stoffern commented on #53
[dupe]

[2016-07-26 06:12] #53 closed

[2016-07-26 06:16] stoffern commented on #54
@maxnowack what function are you calling?
i think it has something to do with this commit https://github.com/stoffern/pokemongo-api/commit/d802bf55a0cf70285d80fffc37f764d2a218648d

[2016-07-26 06:22] stoffern commented on #51
This can be a little tricky since you only get the distance.
You can get data from surroutings at a distance of 200 meters.
But that will automaticly put your GPS print in that place you are checking (jumping around in 200 meters..)

Then it would have to trigger a sort of walkInACircle around point?

[2016-07-26 06:23] stoffern commented on #43
:+1: closing thisone

[2016-07-26 06:23] #43 closed

[2016-07-26 06:36] #15 closed

[2016-07-26 07:39] InsOpDe commented on #23
well im reprogramming this project in es5 (for various reasons) so it may be possible that there are errors in my code. but I think it is rather a problem with the *.proto files since the error above implies it.

[code]

[2016-07-26 07:48] stoffern commented on #23
@InsOpDe that looks good to me. why not just compile it to es5 with babel if so?

To me it looks like the protobuf is trying to parse a request you have and it errors when trying to parse data in that request binded in `POGOProtos.Data.Capture.CaptureAward.activity_type`
it says that your type data for activity_type is invalid.
What requst is causing the error? I would try to change the type or de

[2016-07-26 08:08] stoffern opened #56 "Cleanup player"
move login, authticket, token to main class
let Player class only parse GetPlayer object

[2016-07-26 08:34] InsOpDe commented on #23
@stoffern im coding on windows and running it on a Linux vm (since i couldnt get s2geometry running on windows) so I needed to modify the require-paths to the nodemodules - and since im not much into es6 (and its import-funcitonality) or transpiling it with babel to es5,  id rather stay on es5 for now :D

yes that much i figured out, too - i see that this field is referenced to the enum activityTy

[2016-07-26 08:35] maxnowack commented on #54
I'm using the `GetInventory` method. I'm on the latest version on npm. It seems that the commit you mentioned wasn't published to npm yet

[2016-07-26 08:37] maxnowack commented on #54
Oh, it's published. Please let me check if it's working

[2016-07-26 08:38] stoffern commented on #50
this solve the issue https://github.com/stoffern/pokemongo-api/commit/1d4b8660099e481376d2005472f98c146ac321a7

[2016-07-26 08:38] stoffern commented on #24
@gallexme pokeStorage solved: https://github.com/stoffern/pokemongo-api/commit/1d4b8660099e481376d2005472f98c146ac321a7

[2016-07-26 08:39] stoffern commented on #54
I am trying to get onto automatic npm publishing, but for now the .git is more up to date.. :)

[2016-07-26 08:41] maxnowack commented on #54
No, it's not. Even if I change it back to `int32`

[2016-07-26 08:42] stoffern commented on #23
@InsOpDe we are running the lastest `s2geometry-node` it is confirmed to work on windows 8, windows 10, linux and mac..
Altho on windows you need `Visaul Studio 2015 Community` edition to compile..

our npm package is a compiled ES5 so you can just write ES5 on top of the NPM..

[2016-07-26 08:44] stoffern commented on #54
it is working like a charm here:
[code]
are you banned?

[2016-07-26 08:45] InsOpDe commented on #23
@stoffern well thank you for your insight - I tried everything i am capable of, but now Im chosing this solution. If you think that this error response may relate to my setup you may ignore it and I have to figure it out myself, if not, then maybe im not the only one with this problem

[2016-07-26 08:46] maxnowack commented on #54
Hmm strange ...
No I'm not banned and everything else is working fine

[2016-07-26 08:47] stoffern commented on #54
try deleting the line `additional_cp_multiplier`
in `POGOProtos.Data.PokemonData`

[2016-07-26 08:49] maxnowack commented on #54
Yeah, that works :) Maybe it should be marked as `optional`

[2016-07-26 08:49] stoffern commented on #23
CatchPokemon is working fine when the server is stable.
This error has to do with some of your code as far as i can see..

closing this issue as this is working, and server instability usually triggers error..

[2016-07-26 08:53] stoffern commented on #54
yeah, we should probably do that.
can you try to set it to:
`optional float additional_cp_multiplier = 28;`
and see if that works?

[2016-07-26 08:55] maxnowack commented on #54
Yes, this works

[2016-07-26 08:57] #54 closed

[2016-07-26 09:00] InsOpDe commented on #50
We are now only getting information like `max_pokemon_storage` - not the actual pokemon in our storage

[2016-07-26 09:12] stoffern commented on #50
True, need to figure out what call that fetches the pokemon data.
then we can add that to the storage.

[2016-07-26 09:24] stoffern commented on #35
leaving this for now, i think those banned pokemons will not be available on the map then.
i was worried they could track bots on banned pokemons.

then i am closing this for now

[2016-07-26 09:24] #35 closed

[2016-07-26 09:41] InsOpDe commented on #50
my mistake, you can get all your pokemon through `GET_INVENTORY`

[2016-07-26 09:41] #50 closed

[2016-07-26 10:27] stoffern opened #61 "Fort.search()"
- [x] update fort with response from fort.search()
- [x] check cooldown before search

[2016-07-26 10:35] windd32 opened #62 "How will the request to the server. the query profile information"
https://github.com/windd32/Conect-pokemon/blob/master/main.pass

my connection I get the token. What next don't know

[2016-07-26 10:36] stoffern commented on #62
see the example:
https://github.com/stoffern/pokemongo-api/blob/master/example/example.js

[2016-07-26 10:39] stoffern opened #63 "walkToPoint() loop"
remove loop from `walkToPoint`.
Instead add a new `ToggleWalkToPoint` that loops `walkToPoint`

[2016-07-26 10:45] windd32 commented on #62
which url address we should send POST to get information about profile

[2016-07-26 10:48] stoffern commented on #62
https://github.com/stoffern/pokemongo-api/blob/master/src/API.js#L108

[2016-07-26 10:58] gallexme commented on #62
he wants to write his own api ...

[2016-07-26 11:01] stoffern commented on #62
@windd32 I dont think we should use the time to teach you how it all works.
Please read the code or use forums to figure out how the communication works.

[2016-07-26 11:03] #62 closed

[2016-07-26 11:25] gallexme opened #64 "Add Inventory Class?"
We may should add a Inventory.js which contains Item(.js) and Pokemon(.js)
and gets loaded from Poke.GetInventory ?
for now it is a real hassle to work with the inventory with
let inventory = await Poke.GetInventory();
inventory.GetInventoryResponse.inventory_delta.inventory_items

[2016-07-26 11:45] jimmywarting commented on #51
Hehe that could work if the distance_in_meters wasn't always 200m

and by the way i think it's 100, 200 & 300m
each paw represent 100 meters

[2016-07-26 11:48] jimmywarting commented on #21
And do all the other stuff while you are walking towards the point

[2016-07-26 11:57] gallexme commented on #51
i think its
<100
<200

as 200 is the maximum u get

[2016-07-26 12:37] jimmywarting opened #65 "Smarter way of catching pokemons"
I ran out of regular balls yesterday and i want to increase the odds of catching pokemons i want.

- [ ] I want to use berry on dose i really want
- [ ] I want to use grate ball on  dose i really want and regular ball on dose i don't want so much
- [ ] I want to ignore pokemons that i don't care about

So i came up with a table idea (1 = true, 0 = false)
[code]

Guessing we should have preference

[2016-07-26 12:39] stoffern commented on #21
exactly.
But if you wanna make a loop yourself then you are free to use player.walkToPoint(lat,lng) in your own loop. (this will then just trigger once every time it is called)

[2016-07-26 12:40] gallexme commented on #65
which lvl are you?
my bot is now lvl 14 and has not yet run out of pokeballs
its almost always > 200

[2016-07-26 12:41] jimmywarting commented on #65
16 but i don't run it all the time

[2016-07-26 12:42] gallexme commented on #65
same ran mine for maybe 3h, im still just coding -> testing -> coding ->testing

[2016-07-26 12:51] gallexme commented on #65
@jimmywarting
i actually dont think that this idea would be to good
better would be if there are just functions which help in doing this
but not "forcing" people to use this
as the list of pokemons will grow from time to time to dunno 700 pokemons?

it would be better to provide are more like ingame feature like the orange(rare)/green(normal) circle when u catch a pokemon

for example pokemon.isRa

[2016-07-26 13:02] jimmywarting commented on #65
What defines a pokemon as rare?

[2016-07-26 13:10] stoffern commented on #65
http://www.telegraph.co.uk/gaming/what-to-play/what-are-the-rarest-pokemon-in-pokemon-go-and-how-do-i-catch-the/
I dont know if you can see it in the protos..
then it should be one of or a comination of some variables in this:
https://github.com/stoffern/pokemongo-api/blob/master/POGOProtos/Data/PokemonData.proto

[2016-07-26 13:10] gallexme commented on #65
NORMAL = 0;
LEGENDARY = 1;
MYTHIC = 2;

[2016-07-26 13:20] stoffern commented on #65
Sending API call: `DOWNLOAD_ITEM_TEMPLATES` will request a bunch of things.
Along here is `PokemonSettings` it will tell you the pokemon class/rareity

By some reason `DOWNLOAD_ITEM_TEMPLATES` does not work correct.

[2016-07-26 14:03] stoffern commented on #64
@gallexme will look into it when i have fixed travis and versioning :)

[2016-07-26 14:10] InsOpDe commented on #29
Im getting it, too, from time to time: `[TypeError: Illegal buffer]`

[2016-07-26 14:14] stoffern commented on #29
I think this has to do with server unstability and not the API.
The API is working fine, and by some reason it recieves a invalid or no response.

I will try to debug the error when i get it to see if the server is responding at all.

[2016-07-26 14:22] gallexme commented on #29
ah not exactly
its like a disconnect
u got to reconnect when this happens
because everything throws a error

[2016-07-26 14:23] #52 closed

[2016-07-26 14:26] stoffern commented on #29
@gallexme it is supposed to stop the script with a throw error so you dont spam the server after a error :)
The endpoints and authTicket is always updated for every request.

[2016-07-26 15:41] stoffern commented on #49
@dougiefresh49 automatic publishing to npm now..
still missing git tags + release notes..

[2016-07-26 16:31] BloodBowMain opened #66 "Running the project"
Hi, I'm new to this sort of program (nodejs) and therefore is not very good at resolving all of my problems occurring while trying to run this project. I have set up a Pokemon Go MITM proxy but I do not think that it is correlated to this (https://www.npmjs.com/package/pokemon-go-mitm).

I would love to get a little more detailed wiki where at least I get to know how to run the example file. Thank

[2016-07-26 16:42] stoffern commented on #66
cc @gallexme want to help him out? your example is outdated as we changed the GetMapObjectsResponse.

[2016-07-26 16:50] gallexme commented on #66
Sure will update my example project after lunch

[2016-07-26 17:05] gallexme commented on #66
@BloodBowMain
try to clone my example project(https://github.com/gallexme/pokemongo-api-example-project)
git clone https://github.com/gallexme/pokemongo-api-example-project.git
cd pokemongo-api-example-project
npm install
npm run main

[2016-07-26 17:08] stoffern commented on #63
changed here: https://github.com/stoffern/pokemongo-api/commit/7ee34f3328aa627badc7c3351b94c91248491949

[2016-07-26 17:08] #63 closed

[2016-07-26 17:10] dougiefresh49 commented on #49
@stoffern nice!

And the reason you aren't seeing the git tags or release notes is because semantic-release relies heavily upon commits in the repo following the [commitizen](https://github.com/commitizen/cz-cli) standards when commiting changes. So from now on if you follow those standards when committing it will auto version and tag for ya 😎

[commitizen setup video](https://egghead.io/lessons/j

[2016-07-26 17:11] stoffern commented on #51
Then you have to run 100 meters in all directions to figure what direction it is :smile:

[2016-07-26 17:15] stoffern commented on #49
@dougiefresh49 is it possible to have multiple commit in one version?
to me it looks like it will tag and push to npm everytime you commit to master?

What if you create a PR, dont Travis CI run then aswell and publish to? :smile:

[2016-07-26 17:31] BloodBowMain commented on #66
@gallexme thank you so much! Just one thing: looks like the environment file doen't exist (/pokemongo-api-example-project/src/.env)

[2016-07-26 17:35] gallexme commented on #66
@BloodBowMain  thanks,removed it

[2016-07-26 17:48] BloodBowMain commented on #66
@gallexme So sorry for not getting this to work, but now it's nagging about a 01_proxy.js...
`0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'run-script',
1 verbose cli   '01_proxy.js' ]
2 info using npm@3.10.3
3 info using node@v6.3.1
4 verbose stack Error: missing script: 01_proxy.js
4 verbose stack     at run (/us

[2016-07-26 17:50] stoffern commented on #66
it has reference to `pokemon-go-mitm-node` that is not this repo..

[2016-07-26 18:29] BloodBowMain commented on #66
@gallexme  Fixed a wrong reference problem, but seems to get this error:
_TypeError: cells[Symbol.iterator] is not a function_
Don't know if this is due to something I have set up wrong.
Thanks a lot for helping, really appreciate it!

[2016-07-26 18:30] gallexme commented on #64
currently working on it

[2016-07-26 19:01] gallexme opened #68 "Releasing Pokemons not working"
not sure how to get more data then console.logging it
[code]

[2016-07-26 19:22] AutomatonSystems commented on #66
@BloodBowMain The object that comes back from Poke.GetMapObjects() is not an array of cells since API 0.2.0 released today, all the data is pushed into one object instead. So the for(let cell of cells) loop is no longer required. This one isn't a problem on your side; the example is just out of date :)

[2016-07-26 19:24] gallexme commented on #68
i guess i know why
Pokemon.js
expects something like this but this is only the response in map cells

{ encounter_id: Long { low: -1163477523, high: 2066077743, unsigned: true },
  last_modified_timestamp_ms: Long { low: 682095647, high: 342, unsigned: false },
  latitude: 000000000000000000CUT,
  longitude:000000000000000000CUT,
  spawn_point_id: '4799c1318f5',
  pokemon_data:
   { id: Long { low

[2016-07-26 19:47] BloodBowMain commented on #66
@AutomatonSystems Ah, didn't see that, thanks!

[2016-07-26 20:00] gallexme commented on #68
#69

[2016-07-26 20:02] AutomatonSystems commented on #68
Not sure if you noticed but the `Pokemon.release()` is passing in `this.pokemon_id` which is the pokedex number of the pokemon; it should be passing in `this.id`

[2016-07-26 20:03] gallexme commented on #68
yep i did that with #69

[2016-07-26 20:07] DaVarga opened #70 "Add version property to package.json"
Please provide version property in the package.json inside of this repo. Without the property i cant install pokemongo-api directly from this repo with npm.

I've added pokemongo-api to my package.json.
[code]

I get the following error while npm install.

[code]

[2016-07-26 20:14] DaVarga commented on #70
Added Pr #71

[2016-07-26 20:53] dougiefresh49 commented on #49
@stoffern yup! so rule of thumb is that you would develop on a feature or fix branch and then open a PR every time you have set of code ready to publish.

so if your feature is to evolve pokemon then you might have a branch called (for example)
`feature/evolve-pokemon`

and you might have some commits to that branch like

` feat(evolve): add evolve functionality to Pokemon class`
`test(evolve): ad

[2016-07-26 20:57] dougiefresh49 commented on #49
I used it on a simple repo [here](https://github.com/dougiefresh49/project-euler)

And you can see what the old PR looked like [here](https://github.com/dougiefresh49/project-euler/pull/5)

This helps eliminate any bad code reaching the master branch. And if others want to contribute, they can do the same or by the same process with their forked repo.

[2016-07-26 21:06] stoffern commented on #70
Install from npm. We use Travis to autorelease commits. Adding version to package.json will stop it from working.. ;)

[2016-07-26 21:11] maxnowack commented on #48
I've began with the evolution costs mapping, which I'd like to share: https://gist.github.com/maxnowack/f242af329897188575a705e3e70e0224

[2016-07-26 21:14] dougiefresh49 commented on #70
@DaVarga you can actually put it as
`"version": "0.0.0-semantically-released",`
and this will alleviate any issues and not conflict with semantic-release

[2016-07-26 21:26] gallexme commented on #48
the mapping is kinda useless, as it is in the DOWNLOAD_ITEM_TEMPLATES call
inside of pokemon_settings

[2016-07-26 21:48] jimmywarting opened #72 "How to give raspberry to Pokèmon?"
Want to make it easier to catch Pokémon... But how?

Started to work on that here: https://github.com/stoffern/pokemongo-api/blob/ca9f8e0107c5b71d12fe9dce7f44c69e1d92c0b6/src/Pokemon.js#L105

[2016-07-26 22:07] #66 closed

[2016-07-26 23:22] jimmywarting opened #73 "How to put a pokemon on a gym?"
What the title says

Also need to figure out the gym level and all the player in it

[2016-07-27 00:07] InsOpDe opened #74 "Get current players xp"
im missing this feature

[2016-07-27 08:33] gallexme commented on #72
take the raspberry from inventory and do
raspberry.useCapture(pokemon) ?

[2016-07-27 09:00] l1bbcsg opened #75 "GetMapObjects returns weird and incostisten cell coverage"
Here's an example of image I get visualizing S2 cells returned by `GetMapObjects`. The blue marker represents player location. The shape is seemingly random:

![image](https://cloud.githubusercontent.com/assets/1044684/17170013/6ac644ee-5414-11e6-91c7-bc1a3424752e.png)

If I move some 0.01 degrees I get even weirder image that is also very different from the previous location:

![image](https://cl

[2016-07-27 09:27] gallexme commented on #75
weird

[2016-07-27 10:30] l1bbcsg commented on #75
No, this is actually what `PlayerMap.getNeighbors` calculates. The library requests wrong cell structure and gets a valid response with the same cells from niantic backend.

[2016-07-27 10:43] jimmywarting commented on #72
Thanks it worked, it was an error in the useCapture, but i fixed it.

I really wish i had a Inventory class now...

[2016-07-27 10:47] #72 closed

[2016-07-27 11:17] jimmywarting commented on #64
Most method in the Item class is meant to be in a Inventory?
I mean You can't use hp & revive on the same item...

This is what i had in mind...

[code]

[code]

[2016-07-27 11:53] gallexme commented on #64
Inventory.update()
should update the inventory by deltatime so that u only get the changeset
so im not sure if we should store Items/Eggs/Pokemons in a array
as the time has to be respected

[2016-07-27 12:46] jimmywarting commented on #64
@gallexme Will you make a PR?

[2016-07-27 13:13] gallexme commented on #64
nope no time

[2016-07-27 14:49] stoffern commented on #64
An i am at the hospital, back tomorrow;)

[2016-07-27 14:50] gallexme commented on #64
k
if its not done until the weekend i will do it saturday/sunday

[2016-07-27 14:52] stoffern commented on #75
This is related to a bug in s2geometry-node
https://github.com/billyriantono/s2geometry-node/issues/9#issuecomment-235609506

[2016-07-27 18:27] RafalWilinski opened #76 "ReferenceError: regeneratorRuntime is not defined"
[code]

Fresh node project, `pokemongo-api` is the only dependency here. Just qequiring `const API = require('pokemongo-api');` throws this error. Am I doing something wrong?

[2016-07-27 18:29] RafalWilinski commented on #76
I've just tried https://github.com/gallexme/pokemongo-api-example-project and it works flawlessly.

[2016-07-27 19:14] r-tanner-f commented on #75
I don't think this is a bug in s2geometry-node. The Python library s2sphere gives the same results.

I'm guessing the `getNeighbors` method is just copy-pasta from the Python bot [here](https://github.com/Mila432/Pokemon_Go_API). It's not very effective. Unfortunately, s2geometry-node [doesn't expose getCovering yet](https://github.com/billyriantono/s2geometry-node/issues/13), so without fixing th

[2016-07-27 20:12] stoffern commented on #76
Formening this. As babel-polyfill should be added to support es5 after compile

[2016-07-27 20:19] RafalWilinski opened #77 "Response error when trying to catch pokemon"
I'm using standard example provided with this repository.

This is what happens when I'm trying to catch one of `catchable_pokemons`.
[code]
Output:
[code]

Message is not so descriptive so I digged down to `error` object inside `API.js` file.
This is how it looks like:
[code]

[2016-07-27 20:49] stoffern commented on #77
Seems to be a bug.. Try setting optional repeated... Here: https://github.com/stoffern/pokemongo-api/blob/master/POGOProtos/Data/Capture/CaptureAward.proto#L7

[2016-07-27 21:10] InsOpDe commented on #77
did not work for me

[2016-07-27 22:22] InsOpDe commented on #74
my fault again - you can find all those data with `GET_INVENTORY`

[2016-07-27 22:22] #74 closed

[2016-07-27 22:53] aidenwallis commented on #76
I want to avoid using Babel, and this gives me this error, this is a tight project for a high profile client I'm working on, anything I can do to get this working this way?
`var express = require('express'),
	poke = require('pokemongo-api'),
	player = poke.player,
	router = express.Router();

router.get('/', function(req, res){

	player.Login(null, null, 'google');

});

module.exports = router;`

[2016-07-28 02:49] Upguard opened #79 "Feature request?"
It would be nice if we could set a radius, have the script take a lat/long and jump around within that radius to get all pokemon/gyms/stops. We already have the cells, could we not get the lat/long from those cells and have our "character" jump to those cells to get additional data?

The only way I was able to do something similar (I'm a beginner when it comes to coding) was to expand the "meters"

[2016-07-28 03:05] stoffern commented on #79
You can not travel over 20meters every 3 second or you get banned. And the normal heartbeat is every 3 sec. Poke.player.walkAround() will do a random lat,long travel to a distance. 1-15meters.

[2016-07-28 03:23] Upguard commented on #79
How are these websites like pokevision getting all the pokemon within a certain radius? I'm not all that worried about getting banned, I don't plan on actually playing the game, I'm just trying to build a map that shows pokemon in a certain radius.

There's ways around the ban issue.

[2016-07-28 05:55] maxnowack commented on #77
It seems that `repeated` is implicitly `optional`
http://stackoverflow.com/a/25637833/1624176

[2016-07-28 06:35] stoffern commented on #77
Then it is the type maybe?

[2016-07-28 07:01] maxnowack commented on #77
the type of `activity_type` is `.POGOProtos.Enums.ActivityType`.
maybe a missing value in the enum? do you have an idea how we can test that?

[2016-07-28 07:11] stoffern commented on #77
It is here: https://github.com/stoffern/pokemongo-api/blob/master/POGOProtos/Enums/ActivityType.proto

[2016-07-28 11:54] DaniVarga commented on #68
Would some one merge pls #78?

[2016-07-28 12:19] gallexme commented on #23
maybe we should watch this issue as it
happens for me now with all pokemons
Error: Illegal wire type for field Message.Field .POGOProtos.Data.Capture.CaptureAward.activity_type: 2 (0 expected)

[2016-07-28 12:30] AutomatonSystems opened #82 "npm release falling behind"
The latest release on npm is 0.2.0 which is before the fixes to Pokemon.release() and the GetInventory response+Items improvements. Can someone with the power push out 0.2.1 so I can start playing with the new data please?

[2016-07-28 13:02] stoffern commented on #82
I know, currently I am the only one with access to that. Still in the hospital but will be back tomorrow so I can fix it ☺

[2016-07-28 13:08] AutomatonSystems commented on #79
Scanning of all pokemon in a radius around a point is actually pretty complex because the radius that the pokemon servers let you 'see' is fixed. Sites like pokevision, as you have guessed, teleport the player around in a grid/spiral pattern to scan the whole area. Have a look at https://github.com/mchristopher/PokemonGo-DesktopMap which is a desktop app, if you enable the scanned areas display yo

[2016-07-28 15:04] jimmywarting commented on #23
I get that sometimes, not always maybe 50/50

[2016-07-28 21:02] gallexme opened #83 "Google Refresh Token Support?"
It Would be great to add the feature that users dont need to provide username/password
for google accounts instead just generate refresh tokens for them to authenticate

example: https://github.com/FeroxRev/Pokemon-Go-Rocket-API/blob/fb4ad3d87d7502679f03ddcb5fbf34c0bf215f4e/PokemonGo.RocketAPI/Login/GoogleLogin.cs

[2016-07-28 22:45] Upguard commented on #79
I've got a few ideas on how to accomplish this. I'm going to try to implement the code today. I'll update this thread if I succeed.

[2016-07-28 23:32] #68 closed

[2016-07-29 00:05] jimmywarting commented on #64
I started on the inventory, it's not included in the API yet, but it's up there in the source for you to improve upon, it can also be totally rewritten if you feel like coming up with something better. I have not even figure out yet how it's going to be

[2016-07-29 05:21] rohanp opened #84 "TypeError: Illegal buffer - on requests"
Getting this error every time I attempt to login

[code]

[2016-07-29 06:45] gallexme commented on #84
Show us your code

[2016-07-29 08:18] BloodBowMain opened #85 "GetMapObjects returns undefined"
As said in the title, when I loop through the mapobjects to check for a checkpoint (pokestop), it wont do anything. Tried to print the objects and all I get is undefined objects. Anyone know why this might be so?
Thanks in regards!

[2016-07-29 08:21] gallexme commented on #85
do you await it?

[2016-07-29 08:24] stoffern opened #86 "Rename envolve to evolve"

[2016-07-29 08:44] #86 closed

[2016-07-29 12:27] jimmywarting commented on #24
How about not checking if it's water and just simply go to places worth going to instead of walking around randomly?
I doubt they will detect if a person is on water and ban them, there a airplains with wifi, bridges, boats, GPS coordinates inaccuracy

[2016-07-29 12:28] #24 closed

[2016-07-29 13:04] BloodBowMain commented on #85
I am assigning await Poke.GetMapObjects to a constant called cell (believe that is your "objects"?) then using it in a for of loop for(let checkpoint of cell.forts.checkpoints) It is at this point I added a console.log(toString(checkpoint)) only getting undefined objects therefore not going further in my system...

[2016-07-29 13:13] jimmywarting opened #89 "Make POGOProtos a submodule?"
Then it can always be up to date with https://github.com/AeonLucid/POGOProtos/tree/master/src/POGOProtos

[2016-07-29 13:15] gallexme commented on #85
weird

[2016-07-29 14:09] stoffern commented on #89
Yeha, i am back home in business :) I will update the Protos

[2016-07-29 14:12] jimmywarting commented on #89
Welcome back!

[2016-07-29 14:15] jimmywarting commented on #89
Or just use https://github.com/rastapasta/pokemon-go-protobuf-node

[2016-07-29 15:06] stoffern commented on #89
@jimmywarting i will do alot of the issues now, and make a new big version number..
also fix so that the commitizen works with auto push to npm :smile:

[2016-07-29 15:33] stoffern commented on #61
@jimmywarting added results to this.player.lastCheckpointSearch as it makes more sense..
Does it sound good?

[2016-07-29 15:38] #48 closed

[2016-07-29 16:19] jimmywarting commented on #61
yes

[2016-07-29 16:58] BloodBowMain commented on #85
[code]

[2016-07-29 17:26] InsOpDe opened #90 "Multiple API instances"
Ive tried to run this API with two users. As it run I got very often "Illegal Buffer" errors, so I wondered whether maybe the Data received/sent got somewhat intersected. Well i did create new API/auth instances, so its rather not a javascript/node problem.
**My guess is that since im using the same settings.js-data for both accounts, maybe the server gets irritated**
I even got softbanned, even t

[2016-07-29 17:46] BloodBowMain commented on #85
Okey, so all of a sudden I'm getting a FortSearchResponse, thanks!

[2016-07-29 17:46] #85 closed

[2016-07-29 17:55] rohanp commented on #84
I'm just using the example code. I'm having the same problem as #90. Do I need to generate new settings.js data? I know I'm not banned, because I can still log in on my phone

[2016-07-29 19:19] #73 closed

[2016-07-29 19:41] #61 closed

[2016-07-29 19:44] stoffern opened #91 "Comitting new updates"
@jimmywarting when commiting new updates from now on.
Use: `git cz` instead of `git commit` and follow the instructions.
This will trigger tags, npm and version readme automaticly :smile:
After `git cz` you do `git push` ofcourse

[2016-07-29 19:44] #91 closed

[2016-07-29 19:51] stoffern commented on #90
The ANDROID_ID is the id of the Pokemon Go id at Google Accounting that you need to logon to.
If we change this you will login to different service, not Pokemon Go.
The settings file is more or less fixed values for the API

I would guess they track 2 different devices at the same time from the same IP on different GEO locations.
This is not possible in real life. Then you need a proxy on your acc

[2016-07-29 19:53] stoffern commented on #84
@rohanp Google or PTR accounting?

[2016-07-29 19:56] rohanp commented on #84
PTR. I was using multiple accounts, and all of them give the same error.

On Fri, Jul 29, 2016 at 3:53 PM Kristoffer K <notifications@github.com>
wrote:

[2016-07-29 19:57] stoffern commented on #75
@r-tanner-f that is almost correct, we have ported the code from [pgoapi](https://github.com/tejado/pgoapi). I am not that familiar with geo cells but will look more into it. If you have any directions or ideas how to solve it you are welcome to create a PR

[2016-07-29 20:00] stoffern commented on #84
What happends if you use one account only?

[2016-07-29 20:04] rohanp commented on #84
I tried using one account at a time, but that is not working. I will try
creating a new account and using that.

On Fri, Jul 29, 2016 at 4:00 PM Kristoffer K <notifications@github.com>
wrote:

[2016-07-29 20:58] stoffern commented on #84
:+1:  do that and tell me how it works..

[2016-07-29 20:59] stoffern commented on #47
Babel polyfill added here 9dbb560cb088d3357d6b16cad4844f91842a8ab2
Should now work with ES5

[2016-07-29 20:59] #47 closed

[2016-07-29 21:00] stoffern commented on #64
What is missing here, or what do we need to do?

[2016-07-29 21:09] stoffern commented on #79
This is possible.
If you really dont need a circle here is a solution to a square
[code]
just be creative! :smile:
closing thisone as the feature is not needed in the API but can be created in a standalone script

[2016-07-29 21:09] #79 closed

[2016-07-29 21:10] stoffern commented on #70
Version added 9f2a4b4b592e83c0483bed2e14aa289213af1038

[2016-07-29 21:10] #70 closed

[2016-07-29 21:11] stoffern commented on #76
ES5 working
this is fixed here: 264135f7c834e2d632c2f5327a8c2bb60eccc8d1

[2016-07-29 21:11] #76 closed

[2016-07-29 21:27] stoffern commented on #82
Synced.

[2016-07-29 21:27] #82 closed

[2016-07-29 22:00] rohanp commented on #84
This it strange... The new account seems to work for some amount of time (immediately to a few minutes) then throws the same error. The old accounts throw the errors immediately every time.

[2016-07-29 22:19] gallexme commented on #89
am im the only one?
TypeError: Cannot convert undefined or null to object
    at PokemonGOAPI._callee2$ (F:\Entwicklung\Pokemon\bot\web\node_modules\pokemongo-api\dist\index.js:167:35)

https://github.com/stoffern/pokemongo-api/blob/master/src/index.js#L91

[2016-07-29 22:37] gallexme commented on #89
PokemonGOAPI.POGOProtos.Inventory.ItemId
should be
PokemonGOAPI.POGOProtos.Inventory.Item.ItemId

PokemonGOAPI.POGOProtos.Inventory.Item
should be
PokemonGOAPI.POGOProtos.Inventory.Item.ItemData

theres way more to fix too :/ new protos killed most things

[2016-07-30 00:15] Upguard commented on #79
Stoffern, thank you! This will come in handy.

[2016-07-30 01:35] jimmywarting commented on #64
@stoffern Well, if you look at the [Inventory.js](https://github.com/stoffern/pokemongo-api/blob/master/src/Inventory.js) then it's only half finish

[2016-07-30 02:03] cscsomers commented on #84
I'm also experiencing this problem with both google and PTC accounts.

[2016-07-30 02:42] stoffern commented on #79
Oh, I forgot the player.setLocation(lat,long) before mapObjects :)

[2016-07-30 04:28] Upguard commented on #79
No problem, I figured that out :P

[2016-07-30 05:46] stoffern commented on #84
please give me some more info on this if you can.
@rohanp if you can and want, email me an account login that has these problems i can do some debugging on it.
my email is kristoffer.klevenberg@gmail.com (i will tell you when i start and stop debugging on the account)

[2016-07-30 05:52] rohanp commented on #84
done

[2016-07-30 05:55] stoffern commented on #83
You want to login with the session token you get from PTC or Google, instead of username and password. right?

[2016-07-30 06:18] stoffern commented on #84
Ref: https://github.com/AHAAAAAAA/PokemonGo-Map/issues/2632

We can give this a quick fix in the api to allow requests every 3 seconds in the connection class.
It is possible to send multiple requests in one query to the api, so i think we wil setup a transport service that takes the full queue and queryes the db every 3 seconds
Give it 24h and i have fixed this! :smile:

Meanwhile setting a wait

[2016-07-30 06:29] stoffern commented on #91
cc @gallexme
also if it is a bigger update i think we should do a PR to review it and add feedback before we merge

[2016-07-30 06:31] stoffern commented on #90
@InsOpDe this is linked to the `Illegal buffer` #84
closing this thread

[2016-07-30 06:31] #90 closed

[2016-07-30 06:34] stoffern commented on #23
Can someone provide a dump of the response when it fails?
so we can compare them and see what it is?
I would guess it is something about a optional or extra parameter in the Protos

[2016-07-30 08:43] jimmywarting commented on #23
Maybe this is solved with the new proto update

[2016-07-30 10:44] DaVarga opened #94 "Babel Polyfill throws error."
Since commit 264135f i got following error:

[code]

[2016-07-30 11:54] delmotte opened #95 "Can't get 'getInventory()' to work"
Here is the code i used :
[code]
And the error :

[code]

does someone got an idea on how to make it work ?

thanks :)

[2016-07-30 12:18] gallexme commented on #95
add a sleep after each request of 3 seconds

[2016-07-30 12:32] delmotte commented on #95
done, but now :

[code]

[2016-07-30 12:35] gallexme commented on #95
@stoffern
@jimmywarting
no new version yet out right?

[2016-07-30 13:27] delmotte commented on #95
Okay i've found the problem in index.js :
replace this :
[code]
By :
[code]

[2016-07-30 13:54] stoffern commented on #95
added a fix here. 347fca7b05aa6fc11a808f2513f2973ecd4bafde

[2016-07-30 13:56] delmotte commented on #95
don't forget the first line:
itemData = PokemonGOAPI.POGOProtos.Inventory.ItemId;
 ==> itemData = PokemonGOAPI.POGOProtos.Inventory.Item.ItemId;

[2016-07-30 14:15] delmotte opened #97 "CatchPokemonMessage#spawn_point_guid is not a field: undefined"
I got a problem when trying to catch a pokemon, with both 'catch' and 'encounterAndCatch' method

here is the error :

[code]

I found the solution in 'catch' method, change field 'spawn_point_guid' by 'spawn_point_id' :
[code]

[2016-07-30 14:20] stoffern commented on #95
That line should be there in the commit

[2016-07-30 14:22] stoffern commented on #94
New commit to fix the issue: b2113e6b5dcba2b6f5f729070e3a8e890bd6e1da

[2016-07-30 14:35] mash1t commented on #97
There still is an other error occuring after applying the fix you mentioned:

[i] >>>>>>>>>>>>>>> Catching pokemon  Magikarp
[i] Received OK: EncounterResponse
[!] Response error!
Error: Illegal wire type for field Message.Field .POGOProtos.Data.Capture.CaptureAward.activity_type: 2 (0 expected)
    at Error (native)
    at ProtoBuf.Reflect.FieldPrototype.decode (/Volumes/Data/Entwicklung/Projects

[2016-07-30 14:35] stoffern commented on #97
@delmotte Added fix here: 5947bdaa5b51eeb8ce381e71c50644c81f77f734

[2016-07-30 14:36] delmotte commented on #97
@mash1t Yes but if you look at your pokemon number, it has been catched ;)

[2016-07-30 14:38] stoffern commented on #97
@mash1t we know of this error. The pokemon it catched but by a wierd reason we cant decode the response in 50% of the time it fails. Follow the issue here: https://github.com/stoffern/pokemongo-api/issues/77
Closing this issue as it is fixed.

[2016-07-30 14:38] #97 closed

[2016-07-30 14:55] DaVarga commented on #94
Still fails with the same error.

[2016-07-30 15:10] DaVarga commented on #95
I got this now
[code]

[2016-07-30 15:49] DaVarga commented on #23
Error still exists...
´´´
Error: Illegal wire type for field Message.Field .POGOProtos.Data.Capture.CaptureAward.activity_type: 2 (0 expected)
    at Error (native)
    at ProtoBuf.Reflect.FieldPrototype.decode (.../node_modules/protobufjs/dist/protobuf.js:3679:23)
    at ProtoBuf.Reflect.MessagePrototype.decode (.../node_modules/protobufjs/dist/protobuf.js:3233:48)
    at ProtoBuf.Reflect.Element

[2016-07-30 15:52] stoffern commented on #95
@DaVarga thanks for PR, this is now fixed cd1c868765948c0491999d62884af1a710954361

[2016-07-30 15:52] #95 closed

[2016-07-30 15:53] UAVova opened #101 "s2geometry ERROR"
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\Volodymyr\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "i"
npm ERR! node v6.3.1
npm ERR! npm  v3.10.5
npm ERR! code ELIFECYCL

[2016-07-30 16:00] stoffern commented on #101
@UAVova is there a ERR! before this log?
Do you have Visual Studio installed with Common Tools for Visual C++ ?

[2016-07-30 16:04] stoffern commented on #77
This issue is related to #23
Please follow the issue there

[2016-07-30 16:04] #77 closed

[2016-07-30 16:06] UAVova commented on #101
@stoffern Yes, i'm sorry for not incliding that first
[code]

[2016-07-30 16:11] UAVova commented on #101
@stoffern Yes. VS 2015 Installed (including c++)

[2016-07-30 16:28] stoffern commented on #101
This is errors in the s2geometry-node lib. Please report this to them.

[2016-07-30 16:41] UAVova commented on #101
@stoffern I will. But since it is dependecy of this package, we are not able to use it?

[2016-07-30 16:47] stoffern commented on #101
It compiles fine on my windows. Have you updated the dep?

[2016-07-30 16:48] UAVova commented on #101
@stoffern Just now figured out that it is VS 15 Update 1-2 Error. Updating to 3 fixed the issue

[2016-07-30 16:50] UAVova commented on #101
Since this issue is fixed, could you give me a link on how to start example? What i tried:
[code]
Also
[code]

[2016-07-30 17:05] UAVova opened #102 "TypeError: PokemonGOAPI.POGOProtos.Inventory.Item.InventoryItem is not a constructor"
[code]

**index.js**:105
`inventory.items[obj[itemData[key]]] = new PokemonGOAPI.POGOProtos.Inventory.Item.InventoryItem`

[2016-07-30 17:17] #101 closed

[2016-07-30 17:19] Skeec opened #103 "Import to Browser"
Hey Fellows

is it possible to run the api browser side too?
Or do some node modules only work in node environment and cannot be replaced?

Would be cool to have an api for browser so I dont necessarily need to run a server in the background all the time :+1:

[2016-07-30 17:21] stoffern commented on #103
works everywhere you want it. ES6 can be compiled to support any javascript version with babel.
then NPM is version is already compiled to es5.

[2016-07-30 17:21] stoffern commented on #94
@DaVarga trying again, does it work now

[2016-07-30 17:22] stoffern commented on #102
Update to latest version

[2016-07-30 17:22] #102 closed

[2016-07-30 17:25] gallexme commented on #103
@stoffern  u missing the c++ module for S2 so no it wont work in the browser
but
@Skeec You got to have a nodejs server sorry u cant use webpack/browserify i guess

[2016-07-30 17:28] Skeec commented on #103
what does s2 exactly do? Maybe I could find a substitution :eyes:

[2016-07-30 17:34] stoffern commented on #103
@Skeec it is a incomplete port of S2.
We have a issue on this here https://github.com/stoffern/pokemongo-api/issues/75
So we will find our own solution to this in the near future.

[2016-07-30 17:40] Skeec commented on #103
ok so s2 tries to interpret niantic api response in geo cells or smthing like that?
Would be weird if s2 is the only module out there doing this kind of work am I right @gallexme ?

[2016-07-30 17:43] gallexme commented on #103
@Skeec
its the only one which works correct(almost no bugs, all features which we need) currently
othere pople are already trying something close to a js only port see
https://github.com/Armax/Pokemon-GO-node-api/pull/165
but the used library isnt "done"

[2016-07-30 18:07] gallexme commented on #83
@stoffern
nope its only google and it works is like this:

* API->User gets a Code
* User types code into http://google.com/device
* User allows the api and gets a RefreshToken back
* User->sets RefreshToken into API
* API uses the code to login into the google account of pokemon go

I've seen it in some bots and users would be mor willing to use a code instead of typing their passwords somewhere^

[2016-07-30 18:15] stoffern commented on #83
ok, i will look into it

[2016-07-30 18:21] Skeec commented on #103
oh ok at which level does the pokemon go api rely on s2 library?
Aren't the returned pokemon and fort objects exact lat/lng points?

[2016-07-30 18:27] stoffern commented on #103
GetMapObjects requires map cells

[2016-07-30 18:34] Skeec commented on #103
I see what itself is a proto request

[2016-07-30 19:26] UAVova opened #104 "TypeError: Illegal buffer"
Revision: 78f0557e7b1605fbe14bb7d210165b056518a6c2

\> **npm run example**

[code]

[2016-07-30 21:45] UAVova commented on #104
Adding
`await new Promise(resolve => setTimeout(resolve, 3000))`
before each api call in **example.js** helps.

[2016-07-30 23:34] UAVova opened #105 "Babel translation"
I need help with compiling (or probaby translating) code from babel to normal js. When i try to do so using: [https://babeljs.io/repl/](https://babeljs.io/repl/) and run output with `node example.js` it throws an error:
 `error  Unexpected token import`
Another thing i can't understand is that i can't actually run command `babel-node example.js` or `node-babel example.js`. It's saying that there i

[2016-07-31 01:05] UAVova opened #106 "Error: Illegal wire type"
[code]

Console DIR:
[code]

It happens with **example.js** on this line:
`await pokemon.catch(ball.item_id).catch(console.log)`

However, pokemon catched successfully. I have no idea why it is outputting an error.. Any ideas?

[2016-07-31 06:25] KyleRoss commented on #106
As mentioned here: https://github.com/stoffern/pokemongo-api/blob/master/src/Pokemon.js#L86

The first time calling `.catch()` ends with an error, but the second call to `.catch()` will be successful.

[2016-07-31 07:22] stoffern commented on #106
Duplicate issue.
Follow this issue here https://github.com/stoffern/pokemongo-api/issues/84

[2016-07-31 07:22] #106 closed

[2016-07-31 07:28] stoffern commented on #105
javascript as you know it is version ES5 .
We are running ES6, the next generation javascript. since all browsers and node dont support es6 yet you need babel to translate ES6 into ES5. you can also compile ES6 into ES5 with babel.

if you cant run babel-node then try to run: `node_modules\.bin\babel-node example.js`
This has to do with your configuration.

Try this example if you need start help:

[2016-07-31 07:28] #105 closed

[2016-07-31 07:30] stoffern commented on #104
Duplicate issue: https://github.com/stoffern/pokemongo-api/issues/84
@UAVova always check the issues list before creating new issues.

[2016-07-31 07:30] #104 closed

[2016-07-31 08:04] stoffern commented on #84
This is now fixed in new commit: e56f27d3db6eb2d7c1be485978f3fe8897b10087
Added timer check so if you call function within 3 seconds it will automaticly wait for you and return MapObjects as fast as it can.

[2016-07-31 08:04] #84 closed

[2016-07-31 11:32] gre opened #108 ""request" missing dep?"
looks like the lib implicitely depends on `request`. When I try to use it it fails because of `Error: Cannot find module 'request'` in `pokemongo-api/dist/Auth.js:13:16`

should this be in package.json of the lib?
if you think it's up to lib user to provide it, then at least should be in peerDependencies.

[2016-07-31 12:48] DaVarga commented on #94
it does, thanks.

[2016-07-31 13:07] #94 closed

[2016-07-31 13:21] UAVova commented on #105
s

[2016-07-31 13:32] UAVova opened #109 "ReferenceError: regeneratorRuntime is not defined"
First of all i want to thank you @stoffern for replying to my issues and helping me.

For some reason i can't write to closed ticket, so i created new one. I see that you are using ES6 as you mentioned in previous ticket and even ES7 (async\await) functions. I want to compile that into ES5 using babel.
What i have tried:
`..\node_modules\.bin\babel example.js --out-file Cexample.js`
`..\node_modul

[2016-07-31 14:06] delmotte opened #110 "Support for Gym Battle ?"

[2016-07-31 14:34] UAVova commented on #109
Also tried to include `require('babel-polyfill');`

[2016-07-31 15:00] UAVova commented on #109
After **painful** :( couple of hours, i firgured out that by default (but why?) babel puts all of the variable declarations and import\require statements at the end of the file (you can see it from my [gist](https://gist.github.com/UAVova/34108d8e8bc379ee35a9f5cb3544a3f0)). So, `regeneratorRuntime` which is dependent from `babel-polyfill` (as I read on the Internet) is located above `require(babel

[2016-07-31 17:50] stoffern commented on #109
@DaVarga can you help him out?

[2016-07-31 17:51] stoffern commented on #108
@gre looks we missed something. we converted over from `request` to `fetch`, and we did not get the Auth part. looking at it now.

[2016-07-31 18:12] stoffern commented on #23
Finally now it should work properly. 65f7956bb02e0da9c16b8e178da9dd2502e2afe0

[2016-07-31 18:37] stoffern commented on #109
@UAVova check out latest release.
if you edit the example file to your needs then run `npm run compile-example`

PS you need the index.js file.
https://github.com/stoffern/pokemongo-api/tree/master/example

[2016-07-31 19:11] stoffern commented on #75
@l1bbcsg How did you get to see the map coverage from the cells you have?

I am creating a new S2 cell function to get 11 level 15 cells plotted in a square around your position.
Need to check it out if it works when its done :smile:

[2016-07-31 19:16] DaVarga commented on #109
Ive forgotten to include babel-register. Its needed because example.js references the ../src (untranspiled) library.
If you are using a separate project there is no need for babel-register.

[2016-07-31 19:17] l1bbcsg commented on #75
@stoffern I used http://s2map.com/ - it's a great tool for visualizing anything S2 related. You can paste ids/tokens and it'll plot them.

[2016-07-31 20:01] UAVova opened #113 "Wrong path (es5)"
When compiling project to ES5 using `npm run compile-example` and then trying to execute `node index.js`, you get:
`Error: Cannot find module './../example-es5/src/Player'`
And what is specially strange about it, is that even manually replacing **index.js** and **example.js** file to root folder, you still getting **example-es5** folder mentioned in the error output (Error: Cannot find module './.

[2016-07-31 20:52] stoffern commented on #113
check latest version.

[2016-07-31 22:56] UAVova commented on #113
Emm, i don't think that adding 1 empty line should fix that :smile:
Commit: https://github.com/stoffern/pokemongo-api/commit/1b56ea25c48a0e596d36fd537723add8a0a6ed04

[2016-07-31 22:56] UAVova commented on #113
@stoffern I don't think that adding 1 empty line should fix that :smile:
Commit: https://github.com/stoffern/pokemongo-api/commit/1b56ea25c48a0e596d36fd537723add8a0a6ed04

[2016-07-31 23:54] stoffern commented on #113
Look, at the merge..  the commit is for npm publish

[2016-08-01 00:07] UAVova commented on #113
@stoffern oh, so you been talking about this commit https://github.com/stoffern/pokemongo-api/commit/2e5ca391d5fb811b142aa96d9a9cc4da17f65abd ?
If yes then i was having the latest version at the time when i was posting this issue

[2016-08-01 10:32] stoffern commented on #108
f169a12ed65286e50b809ab0bc973f959a3ef5c5

[2016-08-01 10:33] #108 closed

[2016-08-01 10:39] stoffern commented on #113
dont know how you manage to do that, it works fine here.
@DaVarga can you help him out?

[2016-08-01 11:32] delmotte opened #115 "How to get the level of the current player ?"

[2016-08-01 11:48] gallexme commented on #115
@stoffern @jimmywarting
to get the player level we got to enhance the get_inventory request
https://github.com/stoffern/pokemongo-api/blob/082277649ce2ef51ea1566e51dc79dfac5e4deb0/src/index.js#L112

the variable data should also contain
"player_stats"
where data.player_stats.level would be the player level i guess
https://github.com/stoffern/pokemongo-api/blob/b9b97e48385f935e58e347f3e3893dce67a44

[2016-08-01 11:58] gallexme opened #116 "Chat for Developers e.x Gitter?"
Maybe we should provide Users of this API a chat where they can share their knowledge?

I vote for Gitter as Chat  https://gitter.im as it would integrate great with this Github repo

[2016-08-01 12:10] stoffern commented on #116
0858deadc9948011e35853d4f4d84447f9e54ffd

[2016-08-01 12:23] #116 closed

[2016-08-01 12:23] #103 closed

[2016-08-01 17:21] stoffern opened #117 "Save token and auth_ticket to file"
Save token & auth_ticket params to file.
`Poke.loadAuth('file.txt')`

[2016-08-01 17:23] stoffern commented on #49
This is currently working.
Release tags and release notes are not created on github.
@dougiefresh49 any ideas?

I am using `git add .` `git cz` and `git push`

[2016-08-01 17:52] sai22312 commented on #66
sorry to say, i didn't understand how to run the project , can you please provide step wise instructions. i have downloaded the zip file. let me know the next steps...

[2016-08-01 19:56] jimmywarting opened #119 "softban workaround"
turns out you can search a checkpoint 40 times to get around the softban

Should implement something like it

[2016-08-01 21:39] DaVarga commented on #113
Cant reproduce this bug.

[2016-08-02 00:55] UAVova commented on #119
@jimmywarting It seems to be working about 10 hour ago :disappointed:

[2016-08-02 04:44] syrys opened #121 "FetchError: error with the api calls"
Hey Guys,

Was trying out this library and found that there are lot of errors coming through. For example, if i simply run the example file with correct login info and lat/lng, it pretty much crashes at about the 2nd api request (debugged using console/logs).

So on the example, i commented out everything after the login call to the while loop. Then chucked all the content within the while loop in

[2016-08-02 05:30] syrys commented on #121
nvm, it was my bad, ignore me :D

[2016-08-02 05:47] syrys commented on #121
Also to add, even on the requests where it doesnt throw an error, the response to `GetMapObjects()` is pretty much empty, ie `catchable_pokemons, wild_pokemons, forts` are essentially empty arrays/objects (i can verify that the tested locations should have hits on most of those values).

[2016-08-02 06:59] stoffern commented on #121
show us your code. it is working fine for everyone else.
There is a example project here: https://github.com/gallexme/pokemongo-api-example-project

[2016-08-02 07:26] jimmywarting commented on #119
Still works...

[2016-08-02 08:23] syrys commented on #121
@stoffern Thanks for getting back to me. Maybe you could help me.

So first of all, one of the problems is that im on Windows. This project doesnt work out of the box for me. `s2-geometry-node` doesnt work well with windows :( sucks, yes...

However, there seem to be another implementation `s2-geometry` (`https://github.com/Daplie/s2-geometry.js`) that is supposed to work fine. Claims to have it i

[2016-08-02 08:36] stoffern commented on #121
`s2-geometry-node` needs Visual Studio 2015 installed to compile.

https://github.com/Daplie/s2-geometry.js is full of bugs. https://github.com/Armax/Pokemon-GO-node-api/pull/165#issuecomment-236428071
We are working on a new S2 port.. https://github.com/stoffern/pokemongo-api/issues/75

[2016-08-02 09:09] syrys commented on #121
I see, thanks for that. I guess i probably have to wait for this port to work properly. :(

As for `s2geometry-node`, cant get it to work at all. Tried the VS you mentioned earlier, uninstalled and installed the C++ Build tools instead, neither worked. i have latest node and python 2.7 installed already, so its not that either.

`npm install` errors out like this:
[code]

[2016-08-02 09:22] stoffern commented on #121
https://github.com/stoffern/pokemongo-api/issues/101

[2016-08-02 10:02] gallexme commented on #119
wouldnt that just make it way easier to ban a bot user? :D

[2016-08-02 12:38] #10 closed

[2016-08-02 12:39] stoffern opened #123 "documentation"
as topic says
Help wanted

[2016-08-02 13:08] stoffern commented on #110
added 7e9529d8a77703a4c4cd4206f2bce846f8904f34

[2016-08-02 13:10] stoffern commented on #89
we will stick to this POGO protos..

[2016-08-02 13:11] stoffern commented on #117
db436e350e43cc521ecace9c8aaf8471760e73e8

[2016-08-02 13:11] #117 closed

[2016-08-02 13:12] stoffern commented on #113
@UAVova try using a clean example leave `example/index.js` and edit the `example/example.js`
npm run `compile-example` when you are done. works fine.

[2016-08-02 13:12] #113 closed

[2016-08-02 13:29] jimmywarting commented on #123
Perhaps do some automation documentation based on the code's comments

[2016-08-02 13:31] jimmywarting commented on #110
Example how to battle? when improving the gym and attacking other team?

[2016-08-02 14:40] stoffern commented on #75
Finally #124
Solvs all map problems.
Moved over to pure JS and cells are now as correct as they can be.

[2016-08-02 14:45] #75 closed

[2016-08-02 14:45] #23 closed

[2016-08-02 14:46] stoffern commented on #29
Do we still have this problem?

[2016-08-02 15:17] stoffern commented on #64
@jimmywarting completing thisone now

[2016-08-02 15:18] gallexme commented on #29
@stoffern  nope seems fixed

[2016-08-02 15:25] #29 closed

[2016-08-02 16:30] stoffern commented on #121
try installing the new version. it does not need a compile! :smile:

[2016-08-02 17:16] UAVova opened #127 "Google Auth Token"
[code]
I'm wondering, is `data.masterToken` is just regular token that you can get using `google-api-nodejs-clien` for authentication?
I'm asking because i want to try to implement authentication through google api (let users not to put their credentials in config file), but i don't really understand what is `masterToken `and `androidId `(one we get in the `data `object)

P.S: I know that it is no

[2016-08-02 17:41] gallexme commented on #127
@UAVova  similiar to this? https://github.com/stoffern/pokemongo-api/issues/83#issuecomment-236380287

also we got a chat on gitter where u can communicate with us
https://gitter.im/pokemongo-api/Lobby

[2016-08-02 18:26] stoffern commented on #123
Got any nice tools that do that? I use Sublime btw

[2016-08-02 18:34] andnp opened #128 "[Pokemon] setFavorite() does not seem to make pokemon a favorite"
When I run something to the effect of:
[code]
I notice that the number of pokemon favorited does not change. If I inspect this in the app, I notice the same, that the pokemon is not being favorited.

I'm getting no errors in the console.

[code]

[2016-08-02 18:37] AutomatonSystems opened #129 "Evolution error in pokedex.json"
Starmie has itself as it's previous evolution rather than Staryu.

[2016-08-02 19:05] gallexme commented on #128
whats the result of setFavorite?
and show me your getAllFavorites function

[2016-08-02 19:07] jimmywarting commented on #123
http://www.fusioncharts.com/blog/2013/12/jsdoc-vs-yuidoc-vs-doxx-vs-docco-choosing-a-javascript-documentation-generator/

[2016-08-02 19:15] andnp commented on #128
I don't actually have a ```getAllFavorites``` function, it was more a demonstration of point. Given that the pokemon in the app are not being favorited from the API, I don't believe the bug would be in that code.

I'm getting ```{ SetFavoritePokemonResponse: { result: 2 } }``` which upon further investigation means the pokemon isn't being found. If I print out the pokemon object, it appears the ``

[2016-08-02 19:19] andnp commented on #128
If I were to have a ```getAllFavorites``` function, I suppose it would look something like:
[code]

[2016-08-02 20:41] stoffern commented on #51
I think i have solution to this. Actually i have a solution to see the complete world map from one location :)

[2016-08-02 20:53] jimmywarting commented on #51
How?

[2016-08-02 21:46] syrys commented on #121
@stoffern awesome, so now the code can install without much fiddling around, thats great. So i downloaded the example repo you linked earlier and installed/ran. I still get errors while running the code, similar to my original post.

im going to remove some sensitive info from the logs with `<_SOMETHING_>`
[code]
i thought it may have been related to lat/long i chose, but i get the same error with

[2016-08-02 22:02] stoffern commented on #121
Show me your code

[2016-08-02 23:16] syrys commented on #121
@stoffern my code is very simple.
1. download/clone example project you linked: `https://github.com/gallexme/pokemongo-api-example-project`
2. `npm install`
3. edit the `/src/main.js` with ptc username/password, and lat/lng. I live in New Zealand, so im using a NZ Lat/Lng here. The account i use here is a dummy account i registered a week ish ago in ptc website. The account works on all the other

[2016-08-02 23:39] BloodBowMain opened #130 "Response error"
I have perfectly been using this project and am very grateful for the developers and great community helping each other out. I just wanna let u know, because I know how frustrating it may be, watching obvious failures (me) not being able to fix.

I have come to another problem, running the project at all. It all started after I'd done some few changes trying to come up with just a little more flex

[2016-08-03 06:35] syrys commented on #121
@stoffern could this be some sort of a port issue on my end? not too familiar with node but googling for `ECONNRESET` talks about connection resetting on server's end, but if the port that is used to make the request is blocked on the client (my machine), that could likely happen too. Thoughts?

[2016-08-03 07:32] gallexme commented on #121
@syrys  can u ping the pokemon servers?
try: ping pgorelease.nianticlabs.com

[2016-08-03 07:33] Designer023 opened #132 "Assign pokemon to team gyms in area"
Hi,

Not sure if this is a feature already but it would be great to be able to walk an area and auto assign (strongest|random) Pokemon to all my team's gyms with an available slot.

I'm not bothered about battling for ownership of gyms since that's quite fun, but it would be good to be able to support my local team where we already own a gym.

Thanks

[2016-08-03 07:35] gallexme commented on #130
try adding
await new Promise(resolve => setTimeout(resolve, 1000))
after each call u make to the server ^^
its normally because you are sending to much to the server

[2016-08-03 07:54] syrys commented on #121
@gallexme yes, that works fine. about 26ms in that ping, no failures (tried few times).
Remember the code doesnt fail every time. I tested this requests on a loop with a slight delay (maybe 2-3 secs on each call, and restarted when ever it failed), so after couple of errors, it logges in and gets the endpoint, but sometimes it gets stuck in getting endpoint and i get something like this `Endpoint

[2016-08-03 08:16] gallexme commented on #121
@syrys  sorry im not sure but i guess its your internet/router/firewall/antivirus or maybe just your pc doesnt like the nodejs libraries as other APIs work??

[2016-08-03 08:25] stoffern commented on #121
This :
```request to https://pgorelease.nianticlabs.com/plfe/rpc failed, reason: read ECONNRESET```
and this:
```Too many consecutive "Missing endpoint" failures. Abandoning login```

are 2 completly different errors.
the first one is you having connection problems.
the second one is the server overload.

You cannot get the second error if the first fails.

[2016-08-03 08:40] stoffern commented on #51
Dont know if it is possible but that would be to alter the cells you request from the server.
If it is 200 meter away it is in 1 out of 8 cells. and if it is 400 meters away it is in a radius of 2 cells.

Altering cells with a different center could work.

[2016-08-03 08:50] stoffern commented on #127
@UAVova is it as @gallexme says? Please close this issue or answer him

[2016-08-03 08:50] #49 closed

[2016-08-03 09:04] jimmywarting commented on #132
gym.deployPokemon(pokemon)

[2016-08-03 10:23] BloodBowMain commented on #130
@gallexme done, and now I don't see why it should be too much for the servers. Same error message, doesn't look like it's getting far out in the code... Any idea why?

[2016-08-03 10:27] stoffern commented on #130
@BloodBowMain please show us more of your logg before the error.
running latest version?

[2016-08-03 10:28] Designer023 commented on #132
Thanks @jimmywarting I will give this a try

[2016-08-03 10:28] #132 closed

[2016-08-03 10:37] stoffern commented on #64
@jimmywarting how would it be best to attach the Inventory class to the GetInventory()

[code]

[2016-08-03 10:53] syrys commented on #121
@stoffern yup i understand. But my main problem is the first error `request to https://pgorelease.nianticlabs.com/plfe/rpc failed, reason: read ECONNRESET`. No matter what i do, every couple of requests, this error comes up. It seems very random. As mentioned earlier, the python api code runs perfectly fine for me, but im a js based developer so i would prefer to get this working so i can tweak it

[2016-08-03 11:08] gallexme commented on #64
@stoffern  maybe inventory from  inventory_delta.inventory_items
so that it can be easily updated from delta informations?

[2016-08-03 11:18] syrys commented on #121
I have a hacky way to get around it by putting the calls in individual try catch blocks and repeatedly calling them with a small timeout if it fails.
between `GetPlayer()`, `GetInventory()`, and `GetMapObjects()`, they have about a 30-50% failure rate I can actually calculate it if you want :P. Also obviously the `GetMapObjects` return nothing for me (returns results for like santa monica pier), b

[2016-08-03 11:47] BloodBowMain commented on #130
@stoffern but thats just it, the only messages before the error is me running the project:

[2016-08-03 12:21] stoffern commented on #121
why not just use the example?

[2016-08-03 12:24] stoffern commented on #130
https://github.com/stoffern/pokemongo-api/blob/master/example/example.js

[2016-08-03 12:25] #121 closed

[2016-08-03 12:36] andnp commented on #130
It would be useful to comment out all calls to the API one at a time to figure out which is failing. That or provide ```console.log``` debugging.

That being said, I'm willing to be the problem is that you are calling ```Poke.getPlayer()``` before ```Poke.login(...)```.

[2016-08-03 12:56] #127 closed

[2016-08-03 13:00] stoffern commented on #103
@Skeec this is now a pure JS library and will work fine in all web browsers

[2016-08-03 14:39] BloodBowMain commented on #130
Calling getPlayer() before login was indeed the problem, thanks!

[2016-08-03 14:39] #130 closed

[2016-08-03 15:20] jimmywarting commented on #64
As I mention above:

[code]

[2016-08-03 15:30] stoffern commented on #110
Yeah, we need that.
Want to create a PR ? :smile:

[2016-08-03 15:31] stoffern commented on #115
@delmotte this is comming in the next update #134

[2016-08-03 20:23] jimmywarting commented on #110
I would if i knew how attack works, but i don't know what to pass in to the function

[2016-08-03 21:37] andnp opened #135 "getMapObjects is returning empty data"
If I go to a location that in the past has had lots of forts and pokemon surrounding, I now get no data back from ```getMapObjects```.

Not sure if perhaps the server-side proto changed, because this broke before and after updating my local version of the API.

[2016-08-03 21:58] syrys commented on #121
@stoffern man, i dont think you understand my problem. Let me explain everything again. Forget everything earlier, and start here. First of all, my JS is fine, im somewhat new to es6 though, but i can follow it fine, im fairly new to node but i can also follow that fine too (just not all that familiar with all the common node libraries).

Alright, the problem.

So, if you look at the example, ther

[2016-08-03 21:59] maxnowack commented on #135
Same here ...

[2016-08-03 22:03] syrys commented on #135
i believe its because of the `s2-geometry` update. the new library is buggy and they still havent ironed out all the bugs. ie, if i use NZ lat/lng, i get nothing, i think the library translate my lat/lng to in the middle of nowhere. I think its under active development, so hopefully that should be fixed soon.

[2016-08-03 22:05] maxnowack commented on #135
Maybe related: AeonLucid/POGOProtos#131

[2016-08-03 22:16] syrys commented on #135
Actually i just tested my code and you are correct, this is not the issue that i was reffering to. Must me something new.
Yesterday, i still couldnt find anything in NZ, but if i use a US lat/lng like `santa monica pier`, i got some good hits. Today, using the same lat/lng, results in blanks. Hopefully it gets fixed soon. :D

[2016-08-03 22:18] maxnowack commented on #135
Here's another link to a reddit discussion about this issue: https://www.reddit.com/r/pokemongodev/comments/4w124h/pokemon_go_antibots_reverse_engineering/

[2016-08-04 06:45] stoffern commented on #135
They have added a MapObjects checksum encryption (AES)
Just need to find the key and we are good to go..

[2016-08-04 07:29] bensleveritt commented on #89
I'd love to see a protobufjs equivalent to https://github.com/rastapasta/pokemon-go-protobuf-node. Is this still on the cards? @stoffern

[2016-08-04 07:33] bensleveritt opened #138 "Webpack support"
Is anyone else trying to use this with Webpack?

After setting the `node` config in Webpack to:
[code]

I get the infamous `fs.readFileSync is not a function` issue (in the `mime` library).

Any deviation from that config causes Webpack to spew `Can't resolve x in y` errors.

Am I missing something? (I see https://github.com/stoffern/pokemongo-api/issues/103 has been closed, but I'm not sure what

[2016-08-04 07:37] stoffern commented on #89
@bensleveritt yes

[2016-08-04 07:48] bensleveritt opened #139 "Webpack support"
Is anyone else trying to use this with Webpack?

After setting the `node` config in Webpack to:
[code]

I get the infamous `fs.readFileSync is not a function` issue (in the `mime` library).

Any deviation from that config causes Webpack to spew `Can't resolve x in y` errors.

Am I missing something? (I see https://github.com/stoffern/pokemongo-api/issues/103 has been closed, but I'm not sure what

[2016-08-04 07:49] bensleveritt commented on #139
Argh. Double post. Sorry.

[2016-08-04 07:49] #139 closed

[2016-08-04 08:34] gallexme commented on #121
could u ping the server while u doing the test?
connection reset means that the other end aborted the connection for some reason
it could be anything on the way to the ninantic servers, or their servers themself
:/ its not a API problem though, have u tried to put the same script on a server/different pc/different network/different country?

[2016-08-04 16:07] delmotte commented on #135
not solved yet ?

[2016-08-04 17:06] stoffern commented on #135
wip

[2016-08-04 17:18] #64 closed

[2016-08-04 17:19] #129 closed

[2016-08-04 17:19] stoffern commented on #129
fixed

[2016-08-04 17:22] stoffern commented on #115
@delmotte latest update.
It will automaticly update the user object on login
so do:
[code]

[2016-08-04 17:22] #115 closed

[2016-08-04 17:35] delmotte commented on #115
thanks man !

[2016-08-04 21:43] syrys commented on #121
@gallexme so, i tried the script again yesterday, and magically its no longer throwing errors. Did absolutely nothing different on my end, its the exact same code from the day before. But now obviously the api isnt working because of the server update, so theres that... :(

Yes, i agree. However, whats the difference between this project vs the python based project? Because throughout all this, th

[2016-08-04 21:47] syrys commented on #121
PS. i should clarify, its no longer throwing errors as much. I still get them occasionally, but the rate has dropped to < 10%, which is an acceptable failure rate for me.

[2016-08-05 15:16] coolaj86 opened #140 "serialize / deserialize"
I need a way to serialize and deseriaize the objects.

Something like this:

https://github.com/Armax/Pokemon-GO-node-api/pull/83/commits/5c69bc0058c479903e1a125c5c54b6e6100f05f0

Which would result in being able to use the code like this:

[code]

[2016-08-05 16:08] stoffern commented on #140
If i am correct you want to serialize and deserialize credentials and locations?
To easier import and export login?

Token is already stored in the .loginCache.
Would it not be better to just add the rest of the data into that file. (it is in json format)

[2016-08-05 17:38] delmotte commented on #135
is it now ?

[2016-08-06 02:29] glmn commented on #135
Can't wait :)

[2016-08-06 09:20] stoffern commented on #135
There are a team of very skilled people working on this as we speak. They have dedicated alot of time and are working almost 24/7 to figure this out.
The problem is a variable sendt called "unknown6" that they have decoded. There is still some work to do.
You can follow them here: https://github.com/pkmngodev/Unknown6

We will update the api when they have completed theyr awsome job

[2016-08-07 01:12] UAVova opened #141 "New API"
New pokemon go API available here: [https://github.com/keyphact/pgoapi](https://github.com/keyphact/pgoapi)
Just to inform everybody who is interested..
Also it's python and as long as i don't have any experience with python, any way i can help you with transfering this new API into nodejs?

[2016-08-07 01:25] andnp commented on #135
Looks like things were solved here: https://github.com/keyphact/pgoapi

[2016-08-07 08:53] delmotte commented on #135
gogogogogo

[2016-08-07 09:15] stoffern commented on #135
Sorry guys... 2dad9bd0ece461e30c6a0b96567b847094a51ca8

[2016-08-07 09:15] #135 closed

[2016-08-07 09:15] #141 closed

[2016-08-07 09:29] delmotte commented on #135
so disapointed :(

[2016-08-07 10:13] syrys commented on #135
is this actually solved? Im still getting blanks, maybe due to a different problem?

[2016-08-07 10:22] gallexme commented on #135
@syrys  @stoffern  stopped working on the api :/
we probably got to fork it

[2016-08-07 11:07] TheBeeL opened #142 "Multiple Logins"
Is there a way to manage multiple logged accounts?
I have a server running my script, using a browser I send the login info to the server, but after the first login the following aren't possible, only after restarting the script can I make a new login attempt

[2016-08-07 11:09] gallexme commented on #142
api not working anymore
we got to fork it

[2016-08-08 13:21] DaVarga opened #143 "Take over repo"
Some one interested in taking over this repo?
@jimmywarting
@gallexme
@maxnowack

[2016-08-08 17:53] gallexme commented on #143
im interested

[2016-08-08 19:13] delmotte commented on #143
I'm okay to help if needed :)

[2016-08-08 21:07] DaVarga commented on #143
@stoffern could you transfer the ownership of this repository and npm to @gallexme? I look forward to further collaboration and will investigatee package signature encryption tomorrow.

Thx

[2016-08-09 06:09] rnd256 commented on #143
@DaVarga, awesome, glad to hear you'll be looking into the unknown6/unknown22 issue.

In case this is helpful, apparently https://github.com/Armax/Pokemon-GO-node-api is a nodejs project that's already got it working. They're using this project to generate the unknown6 signature: https://github.com/SpencerSharkey/node-pogo-signature.

[2016-08-09 07:25] maxnowack commented on #143
there is another node package which provides low level access to the protobuf requests: https://github.com/cyraxx/pogobuf

[2016-08-09 07:54] stoffern commented on #143
i will fix it... give me 30 minutes :smile:

[2016-08-09 10:54] stoffern commented on #143
added working signature to repo

[2016-08-09 10:55] #143 closed

[2016-08-09 11:25] stoffern opened #145 "[Inventory] Clean dupe pokemons"
Clean backpack for duplicate pokemons,
remove the ones with lowest CP.

[2016-08-09 11:28] stoffern commented on #89
moved: d0d0a9d8918d8c90e7ff09adb74e0a6d415d15dd

[2016-08-09 11:28] #89 closed

[2016-08-09 11:29] DaVarga commented on #143
thanks man! :)

[2016-08-09 11:30] stoffern commented on #51
Not possible, just tested it out. seems like you still are fixed down to the area of lat long.
Forts is not related to lat-long when you send request. so it is possible to get full world map from one location. but that is not what this is about.

Closing issue as it is not possible :disappointed:

[2016-08-09 11:30] #51 closed

[2016-08-09 11:33] stoffern commented on #138
cc @DaVarga want to help me out here?
I can do it, but it will save me some time.

Just make login cache to file optional here: https://github.com/stoffern/pokemongo-api/blob/master/src/index.js#L29

[2016-08-09 12:14] stoffern opened #146 "[Player] Save last location to file"
Let player continue from last location when restart.
- should be optional

[2016-08-09 12:45] gallexme commented on #145
should be optional :D

[2016-08-09 12:45] gallexme commented on #146
how often should we update position in the file?

[2016-08-09 12:45] stoffern commented on #145
It will be a function.
`Player.inventory.clearDupePokemons()`

[2016-08-09 12:51] gallexme commented on #145
i did such a thing already before we had the inventory:
https://gist.github.com/gallexme/cea4ec0550b56a91452dfb75eeabb587
cleans up by IV or by CP

[2016-08-09 13:36] stoffern commented on #146
every time it is updated.
if you cancel the script it would continue from last point

[2016-08-09 13:38] stoffern opened #147 "[BUG] Response error! after a while"
After a while:
[code]

[2016-08-09 14:28] stoffern commented on #145
@gallexme why dont you create some PR`s and help the repo?
this would be good for the repo..

[2016-08-09 14:45] #145 closed

[2016-08-09 14:52] stoffern commented on #128
This works as it should. just checked.
Remeber to have a delay of you run it multiple times.

Added your function to the inventory class. 1d15b96923f8493f400b05a313a758abd51b9469

[2016-08-09 14:52] #128 closed

[2016-08-09 15:48] rnd256 commented on #147
After 30 mins? Might need to refresh the auth token.

[2016-08-09 16:45] stoffern commented on #147
Good question. Dont know the time, i will have to set a debugger on it.
Do you know if it needs a refresh?

[2016-08-09 16:57] delmotte opened #149 ""main": "dist/index.js""
no more `dist` directory, have you forgotten this in `package.json` ? ^^

[2016-08-09 17:04] delmotte commented on #149
my bad, i just npm install from git and forget to 'npm install' after cloning ...

[2016-08-09 17:07] stoffern commented on #149
:+1: it will automaticly generate dist on npm publish

[2016-08-09 17:07] #149 closed

[2016-08-09 17:10] rnd256 commented on #147
It does need to be refreshed. And I think the new auth token proto indicates the length of time it's valid for.

[2016-08-09 17:36] gallexme commented on #145
@stoffern  cause im sitting 40h a week at work :/, can just share stuff which i make weekends sorry

[2016-08-09 18:34] DaVarga commented on #146
maybe we should store this information in an per account dedicated.json together with the latest auth token?

[2016-08-09 18:44] jgoux opened #150 "[Bug] Can't use the library without regeneratorRuntime in my own project"
Hello,

By just importing the library, I have this error :
[code]

It seems that we have to use the regenerator runtime in our own project to be able to use your library.

I'm on node v6 and I'd prefer not to use it as v6 supports generators. :smile

I use babel only to fill the gap with the few ES6 missing features :
[code]

[2016-08-09 18:47] gallexme commented on #150
try putting
require("babel-core/register");
require("babel-polyfill");
ontop of everything inside your "main.js" of your project
this worked for me

also you probably need this in your .babelrc presets
"es2015",
 "stage-0"

[2016-08-09 18:48] stoffern commented on #145
@gallexme ok :) I just find it wierd you made it and just dont copy it into a PR :)
I am also running 2 companies so this is on the spare time :smile:

[2016-08-09 18:51] gallexme commented on #145
@stoffern  cause i did for the project which uses the api^^
before the whole inventory thing existed
and at work i could just drop in the lines into here, to maybe help you progress faster while i cant ^^

[2016-08-09 18:56] stoffern commented on #150
[code]

in .babelrc
[code]

[2016-08-09 19:03] jgoux commented on #150
As I said, I'd prefer to use nodejs v6 native implementation instead of transpiling here.

IMHO a library should be ready to be consumed without changing the build step of the consumer (or no build step at all, ES5 ready).

Ideally I'd just have to do `var PokeAPI = require('pokemongo-api')` and be ready to go.

Is there a way that you include regenerator in the build ? Or maybe modify the presets

[2016-08-09 19:04] delmotte opened #152 "TypeError: items.superPotion.recycle is not a function"
I cannot use 'recycle' function on potion items

[2016-08-09 19:09] stoffern commented on #150
@jgoux ah sorry my bad.
When we publish to NPM all the ES6 code is transpiled into ES5.
you can see it in your `node_modules\pokemongo-api\dist`

If you want to use ES5 do as @gallexme said:
[code]
Create index.js and add on top of the index file:
[code]

[2016-08-09 19:20] jgoux commented on #150
@stoffern I'm really sorry, I think I'm not clear at all. xD

My main issue with this solution is that it will turn my whole codebase into ES5, only because I want to use your library.

If we could find a way to turn your library ES6 -> ES5 without needing regenerator, I could consume it without including "babel-polyfill", and keep my codebase with all the native implementation ([node v6 supports

[2016-08-09 19:40] stoffern commented on #150
transform-runtime over polyfill? thats new to me.. i should read about it i guess
good it worked out for you :wink:

[2016-08-09 19:46] jgoux commented on #150
I think this plugin has to be used by you, the library author. ^^
So the babel-runtime doesn't leak into userland, and we can require the library without doing anything else. :+1:

[2016-08-09 20:33] stoffern commented on #150
ah, let me look at it tomorrow

[2016-08-10 02:18] andnp commented on #128
I'm guessing some recent updates must have fixed this. I was still able to reproduce before updating, but it has gone away after merging in recent changes.

[2016-08-10 05:03] jackypan1989 commented on #150
hope it would help @jgoux

[2016-08-10 06:40] stoffern commented on #150
@jgoux PR merged, can you try it out now? :wink:

[2016-08-10 07:07] stoffern commented on #2
This is moved to automated NPM releasing with commitizen and semantic release.
problem solved a long time ago :smile:

[2016-08-10 07:10] delmotte commented on #152
I've found where it comes from. In the index.js file of Inventory folder line 269 in the update function :
` //items
      if (data.item)
        this.items[itemData[data.item.item_id]] = data.item`

I tryed this :
`
if (data.item) {
                    console.log(this.items[itemData[data.item.item_id]].recycle);
                    this.items[itemData[data.item.item_id]] = data.item;